/**
    empRoles fragment styles
*/
#reportingColumnList.listview {
    width: 100%;
    height: 100%;
}

.list-role-item {
    width: 100%;
    min-width: 200px;
    height: 48px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
