/*
/*
    disable text selection on all pages
*/
html,
body {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: text;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*style for iphones/ipad without physical home button need space for appbar*/
#appbar.win-appbar-bottom {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}
.appbar-padder-bottom {
    display: none;
}
.appbar-padder-bottom.appbar-bottom-visible {
    bottom: 0;
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
    width: 100%;
    display: block;
    position: fixed;
}
label {
    cursor: pointer;
}

.logo-title {
    color: #ffffff;
    width: calc(100% - 240px);
    position: relative;
    left: -2px;
    top: -16px;
}

.splash-screen-container {
    display: block;
    position: fixed;
    z-index: 30000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ColorNavigation);
}
.splash-screen {
    /*
    display: inline-block;
    position: relative;
    */
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/leadsuccess_white.svg) no-repeat center center fixed;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
}
.app-bkg {
    display: block;
    position: fixed;
    z-index: -10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: url(../images/app-bkg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    visibility: hidden;
}
.titlearea-bkg {
    color: var(--ColorTitleArea);
    background-color: var(--ColorNavigation);
}

.row-bkg {
    display: inline-block;
    position: absolute;
    z-index: -9990;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: var(--Window);
    /*
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    */
}
.win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgb(128, 128, 128);
}
.win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: rgb(128, 128, 128);
}

.pre-line {
    white-space: pre-line;
}

.row-separator {
    display: block;
    position: relative;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f8f8f8;
    height: 1px;
    margin-left: -26px;
    width: calc(100% + 52px);
}

.row-bkg-gray {
    display: inline-block;
    position: absolute;
    z-index: -9990;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgb(128, 128, 128);
}

.no-border {
    border: none !important;
}

.win-selectionstylefilled .win-selected .win-textbox {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.4);
}
.win-selectionstylefilled .win-selected .win-textarea:focus,
.win-selectionstylefilled .win-selected .win-textbox:focus {
    border-color: var(--ColorAccent) !important;
}

.tile-backgroundcolor {
    background-color: var(--ColorTileBackground);
}
.tile-header.tile-backgroundcolor {
    background-color: var(--ColorTileBackground);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--ColorNavigation);
}
.tile-navigationcolor {
    background-color: var(--ColorNavigation);
}
.tile-header.tile-navigationcolor {
    background-color: var(--ColorNavigation);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #f0f0f0;
}

.tile-backgroundcolor .tile-separator-left {
    border-left-color: var(--WindowText);
}
.tile-backgroundcolor .tile-separator-right {
    border-right-color: var(--WindowText);
}

.tile-navigationcolor .tile-separator-left {
    border-left-color: #f0f0f0;
}
.tile-navigationcolor .tile-separator-right {
    border-right-color: #f0f0f0;
}


.tile-button-color {
    color: var(--WindowText);
    background-color: transparent;
    min-width: 50px;
}

.half-circle {
    width: 20px;
    height: 10px;
    margin-top: -10px;
    border-bottom-color: transparent;
    border-bottom-width: 10px;
    border-bottom-style: solid !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: calc(50% - 10px);
}

.half-circle-textcolor {
    border-bottom-color: var(--ColorNavigation) !important;
}
.text-textcolor {
    color: var(--ColorText);
}
.text-tile-textcolor {
    color: var(--ColorTileText);
}
.half-circle-navigationcolor {
    border-bottom-color: var(--ColorNavigation);
}
.text-navigationcolor {
    color: var(--ColorNavigation);
}
.half-circle-lightcolor {
    border-bottom-color: #f0f0f0 !important;
}
.text-lightcolor:not(:disabled) {
    color: #f0f0f0 !important;
}

.master-list-header {
    margin: 0;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0;
    height: 36px;
    text-align: left;
    width: 100%;
}
.master-list-header-title {
    /*
        text-transform: uppercase;
    */
    margin-top: 10px;
    font-weight: bold;
}
.view-size-medium .master-list-header-title {
    margin-top: 0px;
}
.view-size-small .master-list-header-title {
    margin-top: 10px;
}

.master-list-header-line {
    float: left;
}

.list-container {
    width: 100%;
    padding: 5px;
    background-color: transparent;
}

/*
    forward decls from pages
*/
.window-text-color {
    color: var(--ColorText);
}
.label-color {
    color: var(--ColorLabel);
}
.accent-background-color {
    background-color: var(--ColorAccent);
}
.accent-color {
    background-color: var(--ColorAccent);
}
.navigation-background-color {
    background-color: var(--ColorNavigation);
}

.win-textbox:focus,
.win-textarea:focus {
    padding: 3px 6px 5px 10px;
}
/*
    enable selection in input controls
*/
input, select,
.win-textbox,
.win-dropdown {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: text !important;
    -ms-user-select: auto !important;
    /*user-select: auto !important;*/
}

textarea::placeholder {
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    font-style: italic;
}

textarea::-moz-placeholder {
    font-style: italic;
}
/* firefox 19+ */
textarea:-ms-input-placeholder {
    font-style: italic;
}
/* ie */

.field-text-comment {
    width: 100%;
    height: 26px;
}

.field-text-comment-big { /*:focus*/
    height: 100px;
    width: 100%;
}

.win-command[disabled] .win-commandicon {
    opacity: 0.3;
}

.headerFooterPlaceholder {
    display: none;
}
/*
    margins/paddings for all screens
*/
header[role=banner] {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 48px;
}


.button_line {
    text-align: center;
    width: 100%;
    display: flex;
}
.button-element {
    flex: auto;
}
.changeStateButton {
    float: right;
    width: 100%;
    visibility: hidden;
}

.header-comment {
    visibility: hidden;
}

.header-separator {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--ColorNavigation);
}

.float-left {
    float: left;
}

/* 
    content always starting from left side
    in landscape view, pagetitle is floating to the right before
*/
section[role=main] {
    /*
    padding-left: 24px;
    padding-right: 24px;
    */
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


.contentarea {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch; 
    -webkit-transform: translateZ(0);
    /*
    background-color: rgba(64, 255, 64, 0.2);
    */
    width: 100%;
    height: calc(100% - 8px);
    z-index: 1;
}
.content-noscroll {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto; 
}

.content-header {
    /*
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    */
    height: 92px;
    width: 100%;
    border: none;
}

.content-header-line {
    width: calc(100% - 52px);
    vertical-align: bottom;
    height: 48px;
    margin: 0;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 4px;
}
.id-field {
    width: 100px;
    display: block;
    position: relative;
    left: 0;
    top: 16px;
    height: 48px;
    vertical-align: bottom;
}
.caption-field {
    display: block;
    position: relative;
    left: 0;
    top: -32px;
    /*
    width: calc(100% - 200px);
    text-transform: uppercase;
    */
    width: 100%;
    height: 48px;
    vertical-align: bottom;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.date-field {
    width: 100px;
    display: block;
    position: relative;
    left: calc(100% - 100px);
    top: -80px;
    height: 48px;
    vertical-align: bottom;
    text-align: right;
}


.shape {
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
    margin: 4px;
    padding: 0;
    background-color: transparent;
    /*
    border-width: 0;
    */
}
.shape:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.shape:active {
    background-color: rgba(0, 0, 0, 0.4);
}
.box-bkg {
    background-color: #f2f2f2;
}

.centerarea {
    width: 500px;
    height: auto;
    margin-left: calc(50% - 250px);
    margin-top: calc(10% - 50px);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: gray;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    /*
    box-shadow: rgba(0, 0, 0, 0.133) 1.0px 1.6px 3.6px 0.6px, rgba(0, 0, 0, 0.11) 0.4px 0.6px 0.9px 0px;
    */
}

.error-message {
    display: none;
    position: absolute;
    white-space: pre-wrap;
    color: var(--ColorSignalRed);
    background-color: black;
    opacity: 0.6;
    font-weight: 700;
    bottom: 20px;
    left: 26px;
    width: calc(100% - 26px);
    padding: 4px;
}

.label {
    width: 100px;
    /*opacity: 0.8;*/
    height: 26px;
    /*padding-left: 3px;  @nedra:08.09.2015*/
    color: var(--ColorLabel);
    /*
    font-weight: bold;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 1.167;
    background-color: rgba(255, 255, 64, 0.5);
    text-overflow: ellipsis;
    */
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
}
.label.landscape_only {
    font-size: 14px;
}
.view-size-medium .label {
    letter-spacing: -1px;
}
.view-size-small .label {
    letter-spacing: normal;
}

.short-label {
    width: 50px;
}
.long-input {
    width: calc(100% - 50px);
}

select {
}


/******** START LS PACKAGEOVERVIEW ELEMENTE ********/

.page-content {
    position: relative;
    display: block;
    color: #3d4753;
    line-height: 25px;
    font-size: 24px;
}

.top, .main, .footer {
    position: relative;
    display: block;
    height: auto;
}

.ccontainer {
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: 90%;
    overflow: auto;
    z-index: 1;
}

.top > .ccontainer {
    position: relative;
    width: 80%;
    margin: 40px auto;
    display: block;
}

.main > .ccontainer {
    position: relative;
    width: 90%;
    display: block;
}

.footer {margin-bottom: 30px}

.footer > .ccontainer {
    position: relative;
    width: 80%;
    margin: 40px auto;
    display: block;
}

.h1 {
    margin: 30px 0 10px 0;
    padding: 0 10px;
}
.footer .large-field {text-align: center;}

.large-field {
    font-size: 24px;
    margin: 20px 0;
    line-height: 1.5;
}

.main-image {text-align: center;}

.main-image img {
    height: auto;
    width: 100%;
    position: relative;	
}

.logo {display: block; width: auto; height: auto; margin-bottom: 30px;}

.logo img {width: 30%; height: auto;}

.alignCenter {
    text-align: center;
}

.servicelink {
    font-size: 24px;
    line-height: 1.5;
    color: var(--ColorNavigation);
    text-decoration: none;
}

.servicelink:hover {
    color: var(--WindowText);
    text-decoration: none;
}

.view-size-small .top > .ccontainer,
.view-size-small .footer > .ccontainer {
    width: 90%;
}

.view-size-small .main > .ccontainer {
    width: 100%;
}

.view-size-small .logo img {
    width: 50%;
}

.view-size-small .large-field,
.view-size-small .servicelink {
    font-size: 20px;
}

/********ENDE LS PACKAGE OVERVIEW *******/


/*
.input_field{
    float:right;
    width: calc(100% - 100px);
    min-width: calc(100% - 100px);
    min-height: 32px; 
}
.large_field{
    min-height:40px;
    float:right;
    width: calc(100% - 100px);
}
.input_group{
    float:right;
    width: calc(100% - 100px);
}

.portrait_only, .portrait_only_right {
    display: none;
}
.landscape_only {
    display: inline;
}
*/
.win-progress-bar {
    border-radius: 0;
}
.progress_field {
    float: left;
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
}
.input_field_noLabel {
    float:left;
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    min-height: 32px;
    margin-top: 0;
    margin-left: 0;
}
.input_field {
    float:left;
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    min-height: 32px; 
}
.large_field {
    min-height:40px;
    /*float:left;*/
    width: calc(100% - 12px);
}
.input_group {
    float:left;
    width: 100% /*width: calc(100% - 4px)*/;
    margin-top: 0;
    margin-bottom: -4px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: -4px;
}

.portrait_only {
    display: inline;
}
.portrait_only_left {
    display: block;
    width: 175px;
    position: relative;
    top: 8px;
}
.portrait_only_quarter {
    display: block;
    position: relative;
    left: 25%;
    top: -18px;
    height: 0;
}
.portrait_only_half {
    display: block;
    position: relative;
    left: 50%;
    top: -18px;
    height: 4px;
}
.portrait_only_threeQuarter {
    display: block;
    position: relative;
    left: 50%;
    top: -18px;
    height: 4px;
}
.portrait_only_right {
    display: block;
    position: relative;
    left: 108px;
    top: -18px;
    height: 4px;
    width: 110px;
}
.landscape_only {
    display: none;
}

.field_line {
    overflow-x: hidden;
    padding: 0;
    min-height: 60px;
    margin-top: 4px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f8f8f8;
    width: calc(100% - 54px);
}
.field_line_full {
    float: left;
    width: calc(100% - 54px);
}
.field_line_odd {
    float: left;
    width: calc(50% - 54px);
    overflow-y: hidden
}
.field_line_even {
    float: right;
    width: calc(50% - 54px);
    overflow-y: hidden
}
.field_tile {
    float: left;
    width: calc(33.333333% - 10px);
    overflow-y: hidden;
    min-height: 320px;
    margin-left: 4px;
    margin-right: 4px;
}
.field_tile_half_left {
    float: none;
    width: calc(49% - 10px);
    overflow-y: hidden;
    min-height: 290px;
    margin-left: 4px;
    margin-right: 4px;
}
.field_tile_half_left_double {
    float: none;
    width: calc(49% - 10px);
    overflow-y: hidden;
    min-height: 580px;
    margin-left: 4px;
    margin-right: 4px;
}
.field_tile_half_right {
    float: right;
    width: calc(49% - 10px);
    overflow-y: hidden;
    min-height: 875px;
    margin-left: 4px;
    margin-right: 4px;
}

.field_tile_full {
    float: left;
    width: calc(100% - 10px);
    overflow-y: hidden;
    min-height: 290px;
    margin-left: 4px;
    margin-right: 4px;
}
.field_tile_full_double {
    float: left;
    width: calc(100% - 10px);
    overflow-y: hidden;
    min-height: 580px;
    margin-left: 4px;
    margin-right: 4px;
}
/*
.input_field, .large_field, .input_small_left, .input_small_right {
    margin-bottom: 20px;
}
span.input_field, span.input_small_right, span.large_field, span.input_small_left {
    padding-left: 0;
}
span.radio, span.checkbox {
    display: flex;
}
*/
span.checkbox, span.radio {
    /*
    position: relative;
    margin-left: 36px;
    margin-top: -36px;
    */
    width: calc(100% - 48px);
    vertical-align: top;
    display: inline-block;
    padding-top: 10px;
}

span.input_field, span.input_small_right, span.input_small_left, span.input_threequarter_left, span.input_quarter_right {
    border-bottom-style: none;
    border-bottom-width: 0;
    border-bottom-color: transparent;
    padding-top: 3px;
    font-weight: bold;
}
select.input_field, select.input_small_left{
    height: 32px;
}
.progress_field, .input_field, .large_field {
    margin-top: 0;
}
input.win-textbox, textarea.win-textarea {
    border-width: 2px;
    border-radius: 0;
}
input.win-checkbox, input.win-radio, select.win-dropdown {
    border-width: 2px;
}
button.win-button {
    border-radius: 0;
}
button.win-button span {
}
.button-element .win-button {
    padding: 12px 24px;
}
button.win-button span.win-type-title {
    font-weight: bold;
    font-size: 16px;
}
.input_text_comment {
    height: 32px;
}
.input_text_comment:focus{
    height: 196px;
}
.input_text_comment_big {
    height: 196px;
}
.input_quarter_left {
    min-height: 32px;
    float: left;
    width: calc(25% - 25px);
    margin-top: 0;
    margin-right: 4px;
}
.view-size-small .input_half_left{
    width: calc(50% - 5px);
}
.view-size-small .input_half_right{
    width: calc(50% - 5px);
}
.view-size-medium .input_half_left{
    width: calc(50% - 5px);
}
.view-size-medium .input_half_right{
    width: calc(50% - 5px);
}
.input_half_left {
    min-height: 32px;
    float: left;
    width: calc(50% - 5px);
    margin: 0;
}
.input_half_right {
    min-height: 32px;
    float: right;
    width: 50%;
    margin: 0;
}
.input_threequarter_left {
    min-height: 32px;
    float: left;
    width: 75%;
    margin-top: 0;
}
.input_quarter_right {
    min-height: 32px;
    float: right;
    width: 25%;
    margin-top: 0;
    margin-left: 0;
}
.input_small_left {
    min-height: 32px;
    float:left;
    width:100px;
    margin-top: 0;
}
.input_small_right{
    min-height: 32px;
    float:right;
    width:calc(100% - 108px);
    margin-top: 0;
}
.input_big_left {
    min-height: 32px;
    float: left;
    width: 100%;
    margin-top: 0;
}
.input_big_right{
    min-height: 32px;
    float: left;
    width: 100%;
    margin-top: 0;
}

.list-selection-field:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.line-separator {
    width: 100%;
    height:0;
    float:left;
}
.list-header {
    margin: 0;
    padding: 0;
    width: 100%;
}
.list-header-columns {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    /*
    background-color: #f3f3f3;
    */
}
.list-footer {
    min-height: 40px;
    width: 100%;
}
.view-size-smallest .listview {
    margin-top: -6px;
}
.view-size-smallest .list-header,
.view-size-smallest .list-footer {
    margin: 0 !important;
}

.list-footer .progress,
.list-footer .counter {
    margin-left: 6px;
    width: 100%;
}
.view-size-smallest .list-footer .progress,
.view-size-smallest .list-footer .counter {
    margin: 0;
}
.column-header {
    margin-top: 40px;
}

.list-landscape-only {
    width: 100%;
}
.pagecontrol:not(.view-size-bigger) .list-only-small-screen {
    display: none;
}
.pagecontrol:not(.view-size-bigger) .list-portrait-only {
    display: none;
}
.pagecontrol:not(.view-size-smallest) .list-compact-only {
    display: none;
}

view-size-smallest .win-container {
    width: 100% !important;
    padding: 0 !important;
}
.view-size-smallest .win-item {
    width: 100% !important;
    padding: 0 !important;
    height: 48px !important;
}
.view-size-smallest .list-div-left {
    width: 100%;
    margin: 4px;
}
.view-size-smallest .win-headercontainer {
    display: none !important;
}
.view-size-smallest .list-portrait-only {
    display: none !important;
}
.view-size-smallest .content-header .field_line {
    display: none !important;
}
.list-compact-only .list-div-left > span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: grey;
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}

.list-field-small-relative-10 {
    text-align: left;
    width: calc(10% - 108px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-relative-15 {
    text-align: left;
    width: calc(15% - 130px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-relative-20 {
    text-align: left;
    width: calc(20% - 152px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-relative-30 {
    text-align: left;
    width: calc(30% - 180px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-relative-30-list-star {
    text-align: left;
    width: calc(30% - 180px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-fixed-right {
    text-align: right;
    width: 90px;
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.list-field-small-fixed {
    text-align: left;
    width: 88px;
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.photo-container {
    height: auto;
}
.doc-container {
    width: 50%;
    height: 480px;
    float: right;
}
.photoview .win-viewport.win-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}

.fields-container {
    float: left;
    width: 50%;
}

#pagePhoto {
    /*display: block;*/
    display: inline-block;
    width: 100%;
    height: auto;
    transform-origin: 100% 0; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: 100% 0; /* Chrome */
    -ms-transform-origin: 100% 0; /* IE 9 */
    -moz-transform-origin:100% 0;
    -o-transform-origin:100% 0;
}

#pagePhoto.rotate90 {
    -webkit-transform: rotate(90deg)translate(50%,10%)scale(0.5,0.5);
    -ms-transform: rotate(90deg)translate(100%,0%)scale(0.5,0.5);
    -moz-transform:rotate(90deg)translate(100%,-35%);
    -o-transform:rotate(90deg)translate(100%,-35%);
    /*transform: rotate(90deg)translate(100%,-35%);*/
}
#pagePhoto.rotate180{
    -webkit-transform: rotate(180deg)translate(100%,-100%);
    -ms-transform: rotate(180deg)translate(100%,-100%);
    -moz-transform:rotate(180deg)translate(100%,-100%);
    -o-transform:rotate(180deg)translate(100%,-100%);
    /*transform: rotate(180deg)translate(100%,-100%);*/
}
#pagePhoto.rotate270{
    -webkit-transform: rotate(270deg)translate(0%,-60%)scale(0.5,0.5); 
    -ms-transform: rotate(270deg)translate(0%,-50%)scale(0.5,0.5); 
    -moz-transform:rotate(270deg)translate(0%,-65%);
    -o-transform:rotate(270deg)translate(0%,-65%);
    /*transform: rotate(270deg)translate(0%,-65%)scale(1,1);*/
}

/* compressed list layout */
.list-item-header-full {
    margin-top: 16px;
    width: 100%;
    height: 32px;
}
.list-item-label-left {
    float: left;
    width: 120px;
    opacity: 0.6;
}
.list-item-label-right {
    float: right;
    text-align: right;
    width: 120px;
    opacity: 0.6;
}

.list-item-line-full {
    width: 100%;
}

.list-div-left {
    float: left;
    width: calc(100% - 70px);
    margin-top: 12px;
}
.list-symbol-ID {
    width:44px;
    float:left;
    height:100%;
}
.list-id-field {
    display: block;
    position: relative;
    left: 0;
    top: -6px;
    opacity: 0.6;
}

.list-compressed {
    float: left;
    width:calc(100% - 65px); 
    height:100%;
}
.list-compressed-gray {
    float: left;
    width:calc(100% - 65px); 
    height:100%;
    color: var(--ColorSignalGrey);
}
.list-compressed-red {
    float: left;
    width:calc(100% - 65px); 
    height:100%;
    color: var(--ColorSignalRed);
}
.win-selected .list-compressed-red {
    background-color: whitesmoke;
}
.list-compressed-green {
    float: left;
    width: calc(100% - 65px);
    height: 100%;
    color: var(--ColorSignalGreen);
}
.list-compressed-title {
    min-height: 26px;
    width: 100%;
    float: left;
    line-height: 1.167;
    opacity: 0.6;
}

.list-compressed-title.win-type-subtitle {
    font-weight: 500;
    opacity: 1.0;
    min-height: 36px;
}
.list-compressed-title.win-type-subsubtitle {
    font-weight: 500;
    opacity: 1.0;
    min-height: 26px;
}

.list-compressed-content-container {
    float: left;
    width: calc(100% - 60px);
    margin-bottom: 16px;
}

.list-compressed-content-doc-container {
    float: left;
    width: calc(100% - 244px);
    margin-bottom: 16px;
}

.list-compressed-content {
    min-height: 26px;
    width: 100%;
    white-space: pre-line;
    opacity: 0.6;
    line-height: 1.167;
}

.list-compressed-doc-container {
    float: right;
    width: 240px;
    margin-bottom: 16px;
    height: 160px;
}

.list-compressed-doc {
    width: 100%;
    height: auto;
    display: inline;
}

.list-compressed-content.win-type-subtitle,
.list-compressed-title.win-type-subtitle {
    line-height: 1.5;
    letter-spacing: 0.1px;
}


.list-div-right {
    float:right;
    width:60px;
    text-align: right;
}

.win-type-body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

.view-size-bigger .list-only-small-screen {
    display:block;
}
.view-size-bigger .list-landscape-only {
    display:none;
}
.view-size-bigger .list-portrait-only {
    width:100%;
}
.view-size-bigger .field_tile {
    width: calc(50% - 10px);
}

  
/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium
*/
@media (max-width:899px) {
}

.view-size-medium section[role=main] {
    /*
    padding-left: 16px;
    padding-right: 16px;
    */
    padding-left: 0px;
    padding-right: 0px;
}
.view-size-medium .error-message {
    left: 18px;
    width: calc(100% - 45px);
}
.view-size-medium .row-separator {
    margin-top: -8px;
    margin-left: -18px;
    width: calc(100% + 36px);
}

.view-size-medium .content-header-line {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-medium .progress_field {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    margin-right: 16px;
}
.view-size-medium .input_field_noLabel {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
}
.view-size-medium .input_field {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    margin-right: 16px;
    /*
    min-height: 32px;
    */
}
.view-size-medium .large_field {
    /*
    min-height: 40px;
    
    float: left;*/
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
}
.view-size-medium .input_group {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    /*display: inline;*/
    /*position: relative;*/
    top: 0;
    margin-right: 16px;
    margin-bottom: 0;
}
.view-size-medium .portrait_only_threeQuarter,
.view-size-medium .portrait_only_quarter,
.view-size-medium .portrait_half,
.view-size-medium .portrait_only_half,
.view-size-medium .portrait_only, 
.view-size-medium .portrait_only_left, 
.view-size-medium .portrait_only_right {
    display: none;
}
.view-size-medium .landscape_only {
    display: inline-block;
    position: relative;
    top: 3px;
}

.view-size-medium .field_line {
    /*min-height: 40px;*/
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 38px);
}
.view-size-medium .field_line_full, 
.view-size-medium .field_line_odd, 
.view-size-medium .field_line_even {
    float: left;
    width: calc(100% - 38px);
    min-height: 40px; 
}
.view-size-medium .field_tile {
    width: calc(100% - 38px);
}

.view-size-medium .input_small_left {
    margin-left: 0;
}
.view-size-medium .input_big_left {
    float: left;
    width: calc(100% - 150px);
    margin-left: 0;
}
.view-size-medium .input_small_right {
    margin-right: 0;
}
.view-size-medium .input_big_right {
    float: right;
    width: 150px;
    margin-right: 0;
}

.view-size-medium .seperateDiv {
    display:none;
}
    
.view-size-medium #pagePhoto {
    margin-left: 108px;
    width: 50%;
    height: auto;
}

/*
    centerarea disables other styles
*/
.centerarea .progress_field {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    margin-right: 16px;
}

.centerarea .input_field_noLabel {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
}

.centerarea .input_field {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    margin-right: 16px;
    /*
    min-height: 32px;
    */
}

.centerarea .large_field {
    /*
    min-height: 40px;
    
    float: left;*/
    width: calc(100% - 120px);
}

.centerarea .input_group {
    float: right;
    width: calc(100% - 124px);
    min-width: calc(100% - 124px);
    /*display: inline;*/
    /*position: relative;*/
    top: 0;
    margin-right: 16px;
    margin-bottom: 0;
}

.centerarea .portrait_only_threeQuarter,
.centerarea .portrait_only_quarter,
.centerarea .portrait_half,
.centerarea .portrait_only_half,
.centerarea .portrait_only,
.centerarea .portrait_only_left,
.centerarea .portrait_only_right {
    display: none;
}

.centerarea .landscape_only {
    display: inline-block;
    position: relative;
    top: 5px;
}

.centerarea .field_line {
    /*min-height: 40px;*/
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 38px);
}

.centerarea .field_line_full,
.centerarea .field_line_odd,
.centerarea .field_line_even {
    float: left;
    width: calc(100% - 38px);
    min-height: 40px;
}

.centerarea .input_small_left {
    margin-left: 0;
}

.centerarea .input_big_left {
    float: left;
    width: calc(100% - 150px);
    margin-left: 0;
}

.centerarea .input_small_right {
    margin-right: 0;
}

.centerarea .input_big_right {
    float: right;
    width: 150px;
    margin-right: 0;
}

.centerarea .seperateDiv {
    display: none;
}

.centerarea #pagePhoto {
    margin-left: 108px;
    width: 50%;
    height: auto;
}


/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small
*/
@media (max-width:499px) {
}

/* 
.id-field.view-size-small{
    float:left;
    width:60px;
    height: 12px;
    vertical-align: top;
}*/
/*
.date-field.view-size-small {
    padding-right: 4px;

}*/

.view-size-small section[role=main] {
    /*
    width: calc(100% - 20px);
    padding-left: 8px;
    padding-right: 8px;
    */
    padding-left: 0px;
    padding-right: 0px;
}
.view-size-small .content-header-line {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-small .error-message {
    bottom: 10px;
    left: 10px;
    width: calc(100% - 10px);
}

.view-size-small .centerarea {
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.view-size-small .row-separator {
    margin-top: -4px;
    margin-left: -10px;
    width: calc(100% + 20px);
}

.view-size-small .progress_field {
    float:left;
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
    margin-right: 0;
}
.view-size-small .input_field {
    float:left;
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
    min-height: 32px; 
    margin-right: 0;
}
.view-size-medium .input_field_noLabel {
    float: left;
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
}
.view-size-small .large_field {
    float: left;
    min-height: 40px; /*58px*/
    /*float:left;*/
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
}
.view-size-small .input_group {
    float: left;
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
    display: inline-block;
    position: relative;
    top: -4px;
    margin-bottom: -4px;
}
.view-size-small .portrait_only {
    display: inline;
}

.view-size-small .portrait_only_threeQuarter,
.view-size-small .portrait_only_quarter {
    display: block;
}
.view-size-small .portrait_only_half {
    display: block;
}
.view-size-small .portrait_only_left {
    display: block;
}
.view-size-small .portrait_only_right {
    display: block;
}
.view-size-small .landscape_only {
    display: none;
}
.view-size-small .field_line {
    /*min-height: 40px;*/
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 22px);
}
.view-size-small .field_tile {
    width: calc(100% - 22px);
}
.view-size-small .field_line_full,
.view-size-small .field_line_odd,
.view-size-small .field_line_even {
    float: left;
    width: calc(100% - 22px);
    min-height: 60px;
}
/*
.view-size-small .progress_field, 
.view-size-small .input_field, 
.view-size-small .large_field, 
.view-size-small .input_small_left, 
.view-size-small .input_small_right {
    margin-bottom: 4px;
}
*/

.view-size-medium-small .input_big_left,
.view-size-small .input_big_left {
    float: left;
    width: 100%;
    margin-top: 0;
}
.view-size-medium-small .input_big_right,
.view-size-small .input_big_right {
    float: left;
    width: 100%;
    margin-top: 0;
}


.view-size-small .seperateDiv {
        display:none;
}

.view-size-small #pagePhoto {
    margin-left: 0;
    width: 100%;
}

.view-size-small .master-list-header {
    font-size: 15px;
    padding-left: 8px;
}

.view-size-small .list-selection-field {
    font-size: 15px;
}

.view-size-small .list-item-header-full {
    height: 26px;
}
.view-size-small .list-compressed-content-doc-container {
    width: calc(100% - 184px);
}
.view-size-small .list-compressed-doc-container {
    width: 180px;
    height: 100px;
}

.view-size-small .list-compressed-content,
.view-size-small .list-compressed-title,
.view-size-small .counter {
    min-height: 16px;
    font-size: 12px;
    line-height: 1.167;
}
.view-size-small .list-compressed-content.win-type-subtitle,
.view-size-small .list-compressed-title.win-type-subtitle {
    min-height: 20px;
    font-size: 16px;
    letter-spacing: 0.1px;
}
.view-size-small .list-compressed-title.win-type-caption {
    min-height: 12px;
    font-size: 10px;
    line-height: 0.85;
}

.view-size-small .list-item-label-left {
    width: 90px;
}
.view-size-small .list-item-label-right {
    width: 90px;
}


.view-size-small span.checkbox,
.view-size-small span.radio {
    /*
    margin-top: -32px;
    */
    padding-top: 6px;
}

.view-size-smallest .list-portrait-only {
    display: none;
}

.view-size-smallest .list-compact-only {
    width: 65px;
}

.mandatory-bkg {
    background-color: rgba(0, 120, 215, 0.3);
}

.mandatory-bkg:hover {
    background-color: rgba(0, 120, 215, 0.2);
}

.mandatory-bkg:focus {
    background-color: rgba(0, 120, 215, 0.1);
}

.no-transform {
    -webkit-transform: translate3d(0, 0, 0);
}



/*Styles used in the Item Template of Split-View doc area*/
.overlaid-item-template {
    width: 100%;
    height: 100%;
    background-image: url("../images/bkgtexture.png");
}

.overlaid-item-template .image-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}

.overlaid-item-template .image-container > img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.overlaid-item-template .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    height: 20px;
    padding: 20px 15px;
    overflow: hidden;
    bottom: 0;
    width: calc(100% - 48px);
    left: 18px;
}

.overlaid-item-template .overlay .item-title {
    color: rgba(255, 255, 255, 0.8);
}

.img-footer-container {
    width: 100%;
    display: none;
}

.view-size-medium-small .img-footer-container {
    display: inline;
}

.view-size-small .overlay {
    width: calc(100% - 40px);
    left: 10px;
}

.view-size-small .img-footer-container {
    display: inline;
}

.view-size-split .overlay {
    width: 100%;
    left: 0;
}

.view-size-split .img-footer-container {
    display: none;
}

.use-border-radius {
    border-radius: 0;
    padding: 0;
}

.resize-helper-gripper {
    display: block;
    position: absolute;
    user-select: none;
    z-index: 20000;
    background-color: #6e6e6e;
    opacity: 0;
    touch-action: none;
}
.cnv-ui-dark .resize-helper-gripper {
    background-color: #a0a0a0;
}
.resize-helper-vertical {
    bottom: 0;
    left: 0;
    height: 6px;
    cursor: s-resize;
    width: 100%;
}
.resize-helper-horizontal {
    top: 0;
    right: 0;
    width: 6px;
    cursor: e-resize;
    height: 100%;
}

.resize-helper-command-container {
    display: block;
    position: absolute !important;
    right: 6px;
    z-index: 20000 !important;
    top: 0;
}
.navigationbar-container .resize-helper-command-container {
    right: 0 !important;
}
.navigationbar-container .resize-helper-command-container button.win-command {
    height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.resize-helper-command-container.win-commandingsurface .win-commandingsurface-actionarea {
    background-color: transparent !important;
}

.resize-helper-command-container button.win-command {
    border: none;
    width: 32px;
    min-width: 32px;
}

.resize-helper-command-container button.win-command:disabled {
    display: none
}

.resize-helper-command-container .win-commandicon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

.win-splitview-pane-closed .win-splitview-pane .resize-helper-gripper {
    display: none;
}

.label-text-message {
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.win-toggleswitch .win-toggleswitch-values {
     max-width: calc(100% - 50px);
}

.win-listview.win-selectionstylefilled:not(.navigationbar) .win-selected .win-selectionbackground,
.win-itemcontainer.win-selectionstylefilled.win-selected:not(.navigationbar) .win-selectionbackground {
    background-color: var(--ColorSelectionBackground) !important;
}

html.win-hoverable .win-listview.win-selectionstylefilled .win-container.win-disabled:hover .win-itembox,
html.win-hoverable .win-itemcontainer.win-selectionstylefilled.win-container.win-disabled:hover .win-itembox {
    background-color: inherit;
    color: inherit;
}
.win-listview:not(.win-selectionstylefilled) .win-container.win-selected.win-disabled .win-selectionborder,
.win-itemcontainer:not(.win-selectionstylefilled).win-container.win-selected.win-disabled .win-selectionborder {
    border-color: inherit;
    color: inherit;
}

.color_picker_trigger {
    vertical-align: top;
    height: 28px;
    margin-top: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Window);
    border-radius: 0;
}

.win-flipview > div > .win-surface::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
}
@-moz-document url-prefix() {
    .win-flipview > div > .win-surface.win-horizontal {
        height: calc(100% + 18px) !important;
        margin-bottom: -18px !important;
    }

    .win-flipview > div > .win-surface.win-vertical:not(:dir(rtl)) {
        width: calc(100% + 18px) !important;
        margin-right: -18px !important;
    }

    .win-flipview > div > .win-surface.win-vertical:dir(rtl) {
        width: calc(100% + 18px) !important;
        margin-left: -18px !important;
    }

    .win-flipview .win-item .overlaid-item-template .overlay {
        bottom: 18px;
    }
}

.listview .win-footercontainer {
    opacity: 1 !important;
}

.wait-circle {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.win-button, .win-textarea, .win-textbox {
    line-height: normal;
}
