.window-color {
    color: var(--WindowText);
    background-color: var(--Window);
}

.win-listview .win-focusedoutline,
.win-itemcontainer .win-focusedoutline {
    outline-style: dotted !important;
    outline-width: 1px !important;
}

.status-on-off {
    background-color: transparent;
}

.navigationbar-container {
    background-color: var(--Window);
    color: var(--ColorText);
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}
.masterhost-container .pagecontrol {
    background-color: var(--ColorMasterHostBackground);
    /*
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: transparent;
    */
}
.masterhost-background {
    background-color: var(--ColorMasterHostBackground);
}
.contenthost-background {
    background-color: var(--ColorBackground);
}

.navigationbar-container-horizontal {
    height: 48px;
    z-index: -10000;
}
.master-maximized .navigationbar-container-horizontal:not(has-resize-helper) {
    display: none;
}

.navigationbar-container-horizontal .win-navleft {
    left: 0%;
    top: 0;
}
.navigationbar-container-horizontal .win-navright {
    left: 100%;
    top: 0;
    margin-left: -32px;
}
.master-detail:not(.master-maximized) .navigationbar-container-horizontal.has-resize-helper .win-navright {
    margin-left: -64px
}
.navigationbar-container-horizontal .win-navbutton {
    touch-action: manipulation;
    border: none;
    width: 32px;
    height: 47px;
    z-index: 1000;
    position: absolute;
    font-family: "Segoe MDL2 Assets", "Symbols";
    font-size: 16px;
    padding: 0;
    min-width: 0;
    color: WindowText;
    -webkit-backdrop-filter: blur(0.75px);
    backdrop-filter: blur(0.75px);
}
.navigationbar-container-horizontal .win-navbutton > span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 24px;
    margin: 4px;
    padding-top: calc(50% - 6px);
}
.navigationbar-container-horizontal .win-navbutton {
    background-color: rgba(252, 252, 252, 0.8);
}
.cnv-ui-dark .navigationbar-container-horizontal .win-navbutton {
    background-color: rgba(16, 16, 16, 0.8);
}
.navigationbar-container-horizontal .win-navbutton > span {
    background-color: rgba(0, 0, 0, 0.05);
}
.cnv-ui-dark .navigationbar-container-horizontal .win-navbutton > span {
    background-color: rgba(255, 255, 255, 0.05);
}
html.win-hoverable .navigationbar-container-horizontal .win-navbutton:hover > span {
    background-color: rgba(0, 0, 0, 0.1);
}
html.win-hoverable .cnv-ui-dark .navigationbar-container-horizontal .win-navbutton:hover > span {
    background-color: rgba(255, 255, 255, 0.1);
}
html.win-hoverable .navigationbar-container-horizontal .win-navbutton:active > span {
    background-color: rgba(0, 0, 0, 0.2);
}
html.win-hoverable .cnv-ui-dark .navigationbar-container-horizontal .win-navbutton:active > span {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigationbar-container-vertical {
    width: 244px;
    z-index: -10001;
}
.headerhost-container {
    z-index: 10002;
}

#root-split-view-toggle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    z-index: 10011;
}

#root-split-view {
    margin-top: 0;
    height: calc(100% - 48px);
}
#root-split-view-pane {
    overflow-y: auto;
}
#root-split-view.rootsplitview-full:not(.win-splitview-pane-opened) .win-splitview-panewrapper,
#root-split-view.rootsplitview-tablet:not(.win-splitview-pane-opened) .win-splitview-panewrapper {
    width: 48px;
}
#root-split-view.rootsplitview-full:not(.win-splitview-pane-opened) .win-splitview-pane,
#root-split-view.rootsplitview-tablet:not(.win-splitview-pane-opened) .win-splitview-pane {
    width: 65px;
}
#root-split-view.win-splitview-pane-opened.rootsplitview-mobile .win-splitview-panewrapper,
#root-split-view.win-splitview-pane-opened.rootsplitview-mobile .win-splitview-pane {
    width: 100%;
}
#root-split-view.win-splitview-pane-opened.rootsplitview-tablet .win-splitview-pane,
#root-split-view.win-splitview-pane-opened.rootsplitview-full .win-splitview-pane {
    width: 280px;
}

.help-pane-container {
    display: none;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    right: 18px;
    top: 156px;
    width: 280px;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    /*
    box-shadow: rgba(0, 0, 0, 0.133) 1.0px 1.6px 3.6px 0.6px, rgba(0, 0, 0, 0.11) 0.4px 0.6px 0.9px 0px;
    */
}
.help-pane-container.expanded {
    top: 48px;
    right: 0;
    max-width: 420px;
    width: 36%;
    height: calc(100% - 48px);
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none;
}
/*
    margins/paddings for medium screens 
*/
@media (max-width:899px) {
    .help-pane-container.expanded {
        width: calc(50% - 50px);
    }
}
/*
    margins/paddings for mediumSmall screens 
*/
@media (max-width:699px) {
    .help-pane-container.expanded {
        width: calc(64% - 50px);
    }
}
/*
    margins/paddings for small screens
*/
@media (max-width:499px) {
    .help-pane-container.expanded {
        max-width: 100%;
        width: 100%;
        border: none;
    }
}



.help-pane {
    overflow: hidden;
}
.help-details {
    overflow-y: auto;
}
.help-pane.help-opener,
.expanded .help-pane.help-details {
    display: inline-block;
    position: relative;
}
.expanded .help-pane.help-opener,
.help-pane.help-details {
    display: none;
}

.help-opener {
    height: 100%;
    width: 100%;
}

.help-details {
    width: 100%;
    height: 100%;
}

.help-pane .close-button {
    display: inline-block;
    position: fixed;
    top: 4px;
    right: 4px;
    border-color: transparent;
    background: none;
}

.help-pane .close-button > span:before {
    font-weight: bold;
    font-family: "Segoe MDL2 Assets", "Symbols";
    content: "\e10a";
}

.help-pane .close-button > span:hover,
.help-pane .close-button > span:active {
    color: WindowText;
}

.help-content {
    margin: 0;
    line-height: 1.25em;
}
.help-pane-opener .help-content {
    padding-right: 16px;
}
.expanded .help-content {
    padding-right: 8px;
    padding-bottom: 16px;
}

.help-pane .help-title {
    width: 100%;
    padding: 4px 8px;
}
.help-pane .help-subtitle,
.help-pane .help-media-container,
.help-pane .help-text-container {
    width: 100%;
    padding: 4px 8px;
}
.help-pane #videoFrame.player {
    width: 100%;
    min-height: 240px;
}
.help-pane .help-text-container {
}
.help-pane .help-text {
}
.help-pane .help-hidden {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.help-pane .help-expand,
.help-pane .help-close {
    width: 100%;
    text-align: center;
    padding: 4px 8px;
}
.help-pane .help-expand > a,
.help-pane .help-close > a {
    margin: 0;
    font-size: 16px;
    opacity: 0.9;
}
.help-pane .help-expand > a:hover,
.help-pane .help-expand > a:active,
.help-pane .help-close > a:hover,
.help-pane .help-close > a:active {
    opacity: 1;
}

#root-split-view-submenu {
    margin: 0;
    padding: 0;
    left: 48px;
    top: 48px;
    width: 280px;
    height: calc(100% - 48px);
    display: none;
    position: absolute;
    overflow: hidden;
}

.pane-submenu-list {
    margin: 0;
    padding: 0;
    height: 100%;
    width: calc(100% - 2px);
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 1px;
}

.pane-submenu-list .win-disabled .win-item {
    background-color: transparent;
    border-color: transparent;
    opacity: 0.4;
}

.pane-submenu-list .win-container:hover .win-itembox.win-disabled {
    background-color: transparent !important;
}

.win-splitviewcommand-button {
    width: calc(100% - 40px);
}

.win-selected .win-splitviewcommand-button-content {
    border-left-color: var(--ColorNavigation);
}

.win-splitviewcommand-button-content {
    border-left: solid 4px transparent;
    padding-left: 8px;
    padding-right: 12px;
    width: calc(100% - 16px);
    margin-top: 4px;
    margin-bottom: 4px;
    height: 40px;
}
.win-splitviewcommand-label {
    color: var(--ColorNavigation);
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.win-splitviewcommand-icon {
    margin-top: 10px;
}

.win-splitviewcommand.submenu-collapsed .win-splitviewcommand-icon,
.win-splitviewcommand.submenu-expanded .win-splitviewcommand-icon {
    margin-right: 3px;
}
.win-splitviewcommand.submenu-collapsed .win-splitviewcommand-label:before {
    font-size: 8px;
    font-weight: 600;
    font-family: "Segoe MDL2 Assets", "Symbols";
    content: "\e0e3\00a0\00a0";
    position: relative;
    display: inline-block;
    top: -2px;
}
.win-splitviewcommand.submenu-expanded .win-splitviewcommand-label:before {
    font-size: 8px;
    font-weight: 600;
    font-family: "Segoe MDL2 Assets", "Symbols";
    content: "\e019\00a0\00a0";
    position: relative;
    display: inline-block;
    top: -2px;
}

.win-splitviewcommand.win-disabled {
    background-color: transparent;
    border-color: transparent;
    opacity: 0.4;
}
html.win-hoverable .win-disabled .win-splitviewcommand-button:hover {
    background-color: transparent;
}
html.win-hoverable .win-disabled .win-splitviewcommand-button:hover.win-pressed {
    background-color: transparent;
}

.master-maximized .resize-helper-gripper {
    pointer-events: none;
}

#navigationbar_horizontal .win-selected,
#navigationbar_vertical .win-selected {
    color: var(--ColorNavigation);
}
#navigationbar_horizontal.win-listview {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}
.master-detail:not(.master-maximized) .has-resize-helper #navigationbar_horizontal.win-listview {
    width: calc(100% - 32px);
}

.master-maximized .navigationbar-container-horizontal #navigationbar_horizontal.win-listview {
    display: none;
}

.win-appbar-top .win-appbar-actionarea,
.win-appbar-top .win-appbar-actionarea,
.rootsplitview-full #navigationbar_horizontal.win-listview,
.rootsplitview-tablet #navigationbar_horizontal.win-listview,
.rootsplitview-full .pagecontrol > div > div > section[role="main"],
.rootsplitview-tablet .pagecontrol > div > div > section[role="main"],
.rootsplitview-full #navigationbar_vertical.win-listview,
.rootsplitview-tablet #navigationbar_vertical.win-listview {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
}

#navigationbar_vertical.win-listview {
    margin: 0;
    padding: 0;
    width: calc(100% - 1px);
    height: 100%;
}

#navigationbar_horizontal.win-listview

#navigationbar_horizontal .win-viewport {
    margin-bottom: -50px;
    padding-bottom: 50px;
    -ms-overflow-style: none;
}

#navigationbar_horizontal .win-viewport::-webkit-scrollbar {
    height: 0 !important;
}

#navigationbar_horizontal .win-selectionbackground {
    height: 4px;
    top: 43px;
    left: 0;
    width: 0;
    z-index: 2;
}
#navigationbar_vertical .win-selectionbackground {
    width: 4px;
    top: 4px;
    bottom: 4px;
    left: 0;
    z-index: 2;
}

#navigationbar_horizontal .navigationbar-signal-bkg,
#navigationbar_vertical .navigationbar-signal-bkg {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.2;
}

.pane-submenu {
}
.pane-submenu .win-splitviewcommand-button-content {
    padding-left: 56px;
    width: calc(100% - 68px);
}

.pane-submenu .win-splitviewcommand-icon {
    margin: 14px 8px 0 0;
    padding: 0;
}

.pane-submenu .win-splitviewcommand-label {
    font-size: 14px;
    margin-top: 12px;
}

.navigationbar-horizontal-template,
.navigationbar-vertical-template,
.pane-submenu-template {
    margin: 0;
    padding: 0;
}

.pane-submenu-header {
    width: 100%;
    height: 48px;
}
.pane-submenu-header-text {
    margin: 0 6px;
    padding-top: 16px;
    padding-bottom: 0;
    padding-right: 0;
    height: 36px;
    display: inherit;
}
.pane-submenu-list.win-listview .win-vertical .win-footercontainer {
    min-height: 0 !important;
}

.pane-submenu-list .win-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.pane-submenu-item {
    margin: 0;
    padding: 0 16px;
    width: 100%;
    height: 48px;
}

.navigationbar-item {
    height: 48px;
}

.navigationbar-horizontal-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigationbar-vertical-item {
    margin: 0;
    padding: 0;
    width: calc(100% - 2px);
}

.navigationbar-text {
    margin: 0;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 0;
    padding-right: 0;
    height: 36px;
    display: inherit;
    /*
    text-transform: uppercase;
    */
}

.pane-submenu-icon-container {
    margin: 16px 8px 0 0;
    padding: 0;
    float: left;
}
.pane-submenu-icon {

}
.pane-submenu-icon-gray {
}

.pane-submenu-text {
    margin: 12px 0 0 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 36px;
    display: inherit;
    width: calc(100% - 56px);
    float: left;
}
.navigationbar-text-gray,
.pane-submenu-text-gray {
    color: #a0a0a0;
}


.navigationbar-horizontal-text {
    padding-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: -2px;
}

.navigationbar-vertical-text {
    padding-left: 12px;
    text-align: left;
    width: calc(100% - 12px);
}

.pane-submenu-inner-text {
    font-size: 14px;
}
.navigationbar-inner-text {
    white-space: nowrap;

}

#navigationbar_horizontal .win-itemscontainer {
    width: 100%;
}

#navigationbar_vertical .win-itemscontainer {
    width: 100%;
}

#navigationbar_horizontal .win-container {
    margin: 0;
    padding: 0;
    width: 1px;
}
#navigationbar_vertical .win-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.win-appbar-top.win-appbar {
    margin-top: 48px;
    margin-left: 48px;
    width: calc(100% - 48px);
}

/* Confirm modal */
#confirmModal .win-contentdialog-dialog {
    margin-top: 64px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    /*
    box-shadow: rgba(0, 0, 0, 0.133) 1.0px 1.6px 3.6px 0.6px, rgba(0, 0, 0, 0.11) 0.4px 0.6px 0.9px 0px;
    */
}
.win-contentdialog .win-contentdialog-commands > button {
    white-space: normal;
}
#confirmText {
    margin-top: 16px;
    white-space: pre-wrap;
}

/* Flyout buttons */
#alertFlyout {
    visibility: hidden;
    margin-top: 64px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    /*
    box-shadow: rgba(0, 0, 0, 0.133) 1.0px 1.6px 3.6px 0.6px, rgba(0, 0, 0, 0.11) 0.4px 0.6px 0.9px 0px;
    */
}

#alertText {
    white-space: pre-wrap;
}

.win-flyout:not(.win-menu) button,
.win-flyout:not(.win-menu) input[type="button"]
{
    margin-top: 16px;
    margin-left: 20px;
    float: right;
}

/*
    margins/paddings for small screens and orientation vertical
@media (max-width:499px) {
}
*/
.view-size-small .navigationbar-text {
    padding-top: 16px;
    font-size: 14px;
}
.view-size-small .win-splitviewcommand-label {
    font-size: 14px;
    margin-top: 16px;
}

/*
    appHeader styles:
*/


/*
    toggle button background
*/
.bkg-splitviewpanetoggle {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    opacity: 0.6;
}

.pagetitle-placeholder {
    width: calc(100% - 200px);
    float: left;
    margin-top: 0;
}

.titlearea {
    padding: 0;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 48px;
    z-index: 10010;
}

.appHeader #menu1 {
    border-color: #e6e6e6;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.cnv-ui-dark .appHeader #menu1 {
    border-color: #525252;
}

.appHeader #menu1 .win-command {
    /*
    text-transform: uppercase;
    font-weight: bold;
    */
    background-color: #f2f2f2;
    height: 48px;
}
.cnv-ui-dark .appHeader #menu1 .win-command {
    background-color: #171717;
}

.appHeader #menu1 .win-menucommand-liner {
    opacity: 0.9;
}

.appHeader #menu1 .win-command .white-icon {
    display: inline-block;
    position: absolute;
}
.appHeader #menuButton {
    border: none !important;
}
.appHeader #menu1 .win-command:hover,
.appHeader #menuButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.cnv-ui-dark .appHeader #menu1 .win-command:hover,
.cnv-ui-dark .appHeader #menuButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.appHeader #menu1 .win-command:active,
.appHeader #menuButton:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: none;
}

.cnv-ui-dark .appHeader #menu1 .win-command:active,
.cnv-ui-dark .appHeader #menuButton:active {
    background-color: rgba(255, 255, 255, 0.4);
    transition: none;
}
.appHeader #menu1 .win-command#logoff:hover {
    background-color: var(--ColorSignalRed);
}
.appHeader #menu1 .win-command#logoff:active {
    background-color: var(--ColorNavigation);
    transition: none;
}
.appHeader #menu1 .win-command#logoff:not(:hover):not(:active) .white-icon {
    display: none !important;
}

.appHeader #menu1 .win-command#logoff:hover .red-icon,
.appHeader #menu1 .win-command#logoff:active .red-icon {
    visibility: hidden !important;
}
.appHeader #menu1 .win-command#logoff .win-label {
    font-weight: bold;
}
.appHeader #menu1 .win-command#logoff:not(:hover):not(:active) .win-label {
    color: var(--ColorSignalRed) !important;
}
.appHeader #menu1 .win-command#logoff:hover .win-label,
.appHeader #menu1 .win-command#logoff:active .win-label {
    color: white !important;
}
.appHeader #menu1 .win-toggleicon {
    display: block !important;
    visibility: visible !important;
    margin-top: 4px;
}
.appHeader #menu1 .win-toggleicon::before {
    content: none !important;
}
/*
event name
*/
.event-line {
    width: calc(100% - 284px);
    margin-left: 40px;
    margin-top: 0;
    padding-top: 4px;
    float: left;
}

.app-logo-container {
    height: 44px;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
    float: left;
    display: inline;
}
.app-logo {
    display: inline-block;
    position: relative;
    top: -2px;
}

.event-field {
    width: calc(100% - 278px);
    float: right;
    margin-top: 8px;
}

.event-name {
    display:inline-block;
    width: 100%;
}

.server-name {
    font-size: 12px;
    margin-top: -2px; 
    width: 100%;
}
/*.appHeader .win-button {
    z-index: 9900;
}*/
.publish-button {
    display: block;
    width: 300px;
    padding: 2px 6px;
    position: absolute;
    right: 250px;
    top: 8px;
}
.publish-button .win-button {
    background-color: white;
}
.publish-button .win-button:hover,
.publish-button .win-button:active {
    background-color: lightgrey;
}
.publish-button .win-button > span {
    color: var(--ColorSignalRed);
}
/*
user name and on-site / off-site button
*/
.status-on-off {
    margin: 0;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 2px;
    min-width: 60px;
    /*max-width: 236px;*/
    height: 48px;
    visibility: hidden;
    display: block;
    position: absolute;
    right: 0;
}

.user-name-container {
    float: left;
    padding: 4px 48px 4px 4px;
    text-align: right;
    white-space: nowrap;
    max-width: 196px;
}

.namefieldsizebig {
    font-size: 18px;
}

.user-name-field {
    display: block;
    font-size: 15px;
}

.user-role-field {
    float: right;
    font-size: 12px;
}

.user-overlay-container {
    display: block;
    position: absolute;
    top: 4px;
    left: calc(100% - 48px);
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
}

.user-image-container {
    display: block;
    position: absolute;
    top: 4px;
    left: calc(100% - 48px);
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    z-index: 9900;
}

.user-image {
    display: block;
    position: relative;
    left: 0;
    top: 6px;
    z-index: 9900;
}

.user-photo {
    display: block;
    position: relative;
    left: 0px;
    top: -32px;
    width: auto;
    height: 40px;
    z-index: 9900;
}

.onsite-offsite {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #e6e6e6;
    display: block;
    position: relative;
    left: 22px;
    top: -22px;
    z-index: 10000;
    padding: 0;
    text-align: center;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cnv-ui-dark .onsite-offsite {
    border-color: #101010;
}

.win-selected .onsite-offsite, .win-selected .list-symbol-addon {
    border-color: var(--ColorNavigationSelected);
}
/*
.onsite-offsite-symbol {
    font-family: "Symbols";
    padding: 16px;
    display: block;
    position: relative;
    left: -14px;
    top: -15px;
}*/

.list-symbol-addon {
    display: inline-block;
    position: relative;
    left: 0px;
    bottom: 25px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #e6e6e6;
    overflow: hidden;
}

.addon-image {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.cnv-ui-dark .list-symbol-addon {
    border-color: #101010;
}
/*
.cnv-ui-dark .addon-image {
    background-color: var(--ColorSignalGreen);
}
*/
.addon-image > svg {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
}

.list-id-field {
    display: block;
    position: relative;
    left: 0;
    top: -6px;
    opacity: 0.6;
    z-index: 9900;
}
.onsite-offsite-symbol {
    font-family: "Symbols";
    padding: 16px;
    display: block;
    position: relative;
    left: -14px;
    top: -15px;
}

.new-message {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #f0f0f0;
    display: block;
    position: relative;
    left: 20px;
    top: -22px;
    z-index: 10000;
    padding: 0;
    text-align: center;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

.new-message-symbol {
    font-family: "Symbols";
    padding: 16px;
    display: block;
    position: relative;
    left: -14px;
    top: -15px;
}

.statusNew {
    background-color: var(--ColorSignalBlue);
    color: white;
}

.statusOn {
    background-color: var(--ColorSignalGreen);
    color: white;
}

.statusPause {
    background-color: var(--ColorSignalOrange);
    color: white;
}

.statusOff {
    background-color: var(--ColorSignalRed);
    color: white;
}

.statusUnknown {
    background-color: var(--ColorSignalGrey);
    color: white;
}

@media (max-width:899px) {
    .app-logo-container {
        display: none;
    }

    .event-line {
        margin-left: 52px;
        width: calc(100% - 230px);
    }

    .event-field {
        width: 100%;
        float: left;
    }
    /*
    .status-on-off {
        max-width: 233px;
    }
    */
    .user-name-field {
        font-size: 12px;
    }
    .user-role-field {
        font-size: 12px;
    }
}

@media (max-width:605px) {

    .user-name-container {
        padding-top: 4px;
    }
    /*
    .event-line {
        width: calc(100% - 180px);
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
    }
    .event-name-static {
        position: relative;
        top: -5px;
    }

    */
    .event-name {
        font-size: 15px;
    }

    .user-name-field {
        font-size: 12px;
        line-height: 1.167;
    }
    .user-role-field {
        font-size: 12px;
        line-height: 1.167;
    }
    .publish-button {
        width: 200px;
        right: 235px;
    }
    .publish-button .win-button {
        font-size: 10px;
    }
}
/*Zebra Device TC20*/
/*@media (max-width:320px) {
    .event-line {
        width: calc(100% - 180px);
        display: inline-block;
        position: absolute;
        top: 13px;
        left: 0;
    }
}*/

.win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: gray;
    border-bottom-color: gray;
    background-color: var(--Window);
}

.win-appbar-bottom.win-appbar .win-commandingsurface .win-commandingsurface-actionarea {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: none;
}

.win-appbar-top.win-appbar .win-commandingsurface .win-commandingsurface-actionarea {
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.win-commandingsurface .win-commandingsurface-actionarea .leftmost {
    position: absolute;
    left: 0;
}

button .win-label, 
button[aria-checked=true]:enabled .win-commandimage, 
button[aria-checked=true]:enabled .win-label, 
button[aria-checked=true]:enabled:hover:active .win-commandimage.win-commandimage {
    color: var(--ColorLabel);
}

button.win-splitviewpanetoggle {
    color: var(--ColorTitleArea) !important;
}
