/* Replacement for Deprecated CSS System Colors */


/* Default CSS2 colors */
:root {
    --Background: Background;
    --Menu: Menu;
    --MenuText: MenuText;
    --WindowText: WindowText;
    --Window: Window;
}

/* Chrome & Safari (any version) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    :root {
        --Background: ButtonFace;
        --Menu: ButtonFace;
        --MenuText: ButtonText;
        --WindowText: CanvasText;
        --Window: Canvas;
    }
}

/* Firefox Any version (Gecko) */
@-moz-document url-prefix() {
    :root {
        --Background: ButtonFace;
        --Menu: ButtonFace;
        --MenuText: ButtonText;
        --WindowText: CanvasText;
        --Window: Canvas;
    }
}


