#contactPhoto.photoview {
    width: 100%;
    height: 100%;
}
.contactResultsEdit .doc-container {
    max-height: 400px !important;
    max-width: 600px !important;
    float: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.contactResultsEdit #right .field_line {
    min-height: 20px !important;
}
.contactResultsEdit .active {
    height: 400px !important;
    width: 600px !important;
}
#contactResultsEdit .label.group {
    white-space: normal;
}
