textarea::-webkit-input-placeholder {font-style:italic; }
textarea::-moz-placeholder { font-style:italic; } /* firefox 19+ */
textarea:-ms-input-placeholder { font-style:italic; } /* ie */

textarea {
    resize: none;
}
/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #skillentryList .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-medium .list-fragengruppe-container {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -8px;
}
.view-size-medium .field_row_odd {
    float: left;
    width: 100%;
}
.view-size-medium .field_row_even {
    float: left;
    width: 100%;
}
.view-size-medium .field-separator {
        width:calc(100% - 40px);
        height:0;
        float:left;
}
.view-size-medium .list-question-content {
    padding-left: 15px;
}
    
/*
    margins/paddings for medium small sized screens 


    is now signalled by additional class: view-size-medium-small

    @media (max-width:699px) {
    }
*/


.view-size-medium-small .list-question-field {
    padding-bottom: 8px;
    width: 100%;
    float: left;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; 
}

.view-size-medium-small .rating-field {
    float: left;
    width: 60%;
}

  
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #skillentryList .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view-size-small .list-fragengruppe-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -4px;
}
.view-size-small .field_line_left {
    float: left;
    width: 100%;
}
.view-size-small .field_line_right {
    float: left;
    width: 100%;
}
.view-size-small .field-separator {
    display: none;
}
.view-size-small .rating-question-field {
    float:left;
    width: 100%;
}
.view-size-small .list-question-content {
    padding-left: 9px;
}
.input_text_message {
    margin-top: 10px;
    height: 125px;
}
.userimg-container {
    width: 100%
}
.userimg {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.view-size-medium .userimg {
    width: 50%
}
.svgimg {
    width: 100%;
    height: auto;
}
.label_half_right {
    min-height: 32px;
    margin-right: 0px;
    float: right;
    width: 50%;
    margin-top: 0;
    margin-left: 0px;
}
.label_half_left {
    float: left;
    width: 50%;
}  
.view-size-small .label_half_left {
    width: 50%
}
.view-size-medium .label_half_left {
    margin-top: 5px;
    width: 100%;
    word-break: break-word;
} 
.view-size-medium .label_half_right {
    width: 100%
} 
.svgimg {
    float: left;
    width: 50%;
}
.textarea_half {
    min-height: 32px;
    float:left;
    width:100%;
    margin-top: 0;
}
.view-size-small .svgimg,
.view-size-small .label_half_left{
    width: 50%;
}
.view-size-small .label_half_right{
    width: 50%;
}
.field_line_odd_small {
    float: left;
    width: calc(22% - 52px);
    overflow-y: hidden
}
.view-size-medium .field_line_odd_small {
    float: left;
    width: 100%;
    min-height: 40px;
}
.field_line_even_small {
    float: right;
    width: calc(12% - 52px);
    overflow-y: hidden
}
.view-size-medium .field_line_even_small {
    float: left;
    width: 100%;
    min-height: 40px;
}
.landscape_only_small {
    display: none;
}
.view-size-bigger .landscape_only_small {
    display:none;
}
.view-size-medium .landscape_only_small {
    display: inline-block;
    position: relative;
    top: 5px;
}
.view-size-small .landscape_only_small {
    display: none;
}
