#infodeskController .label.win-type-caption {
    font-size: 16px !important;
    letter-spacing: normal !important;
}
#infodeskController .doc-container {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-height: 280px;
    height: 480px;
    display: inline;
}

#infodeskController .fields-container {
    float: left;
}
#infodeskController .onsite-offsiteInfodeskList {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: block;
    position: relative;
    left: 290px;
    top: -22px;
    z-index: 10000;
    padding: 0;
    text-align: center;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

#infodeskController .onsite-offsite-symbol {
    font-family: "Symbols";
    padding: 21px;
    display: block;
    position: relative;
    left: -10px;
    top: -12px;
}

#infodeskController .field_line_odd_half {
    float: left;
    width: calc(50% - 54px);
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow-y: hidden
}

#infodeskController .field_line_even_half {
    float: right;
    width: calc(50% - 54px);
    overflow-y: hidden
}

.view-size-medium .field_line_odd_half,
.view-size-medium .field_line_even_half {
    float: left;
    width: calc(100% - 38px);
    /*min-height: 40px;*/
}

.view-size-small .field_line_odd_half,
.view-size-small .field_line_even_half {
    float: left;
    width: calc(100% - 22px);
    /*min-height: 60px;*/
}
#infodeskController #employeePhoto.photoview {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#infodeskController textarea::-webkit-input-placeholder {
    font-style: italic;
}
#infodeskController textarea::-moz-placeholder {
    font-style: italic;
} /* firefox 19+ */
#infodeskController textarea:-ms-input-placeholder {
    font-style: italic;
} /* ie */

#infodeskController textarea {
    resize: none;
}
/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #skillentryList .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-medium .list-fragengruppe-container {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -8px;
}
.view-size-medium .field_row_odd {
    float: left;
    width: 100%;
}
.view-size-medium .field_row_even {
    float: left;
    width: 100%;
}
.view-size-medium .field-separator {
        width:calc(100% - 40px);
        height:0;
        float:left;
}
.view-size-medium .list-question-content {
    padding-left: 15px;
}
    
/*
    margins/paddings for medium small sized screens 


    is now signalled by additional class: view-size-medium-small

    @media (max-width:699px) {
    }
*/


.view-size-medium-small .list-question-field {
    padding-bottom: 8px;
    width: 100%;
    float: left;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; 
}

.view-size-medium-small .rating-field {
    float: left;
    width: 60%;
}

  
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #skillentryList .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view-size-small .list-fragengruppe-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -4px;
}
.view-size-small .field_line_left {
    float: left;
    width: 100%;
}
.view-size-small .field_line_right {
    float: left;
    width: 100%;
}
.view-size-small .field-separator {
    display: none;
}
.view-size-small .rating-question-field {
    float:left;
    width: 100%;
}
.view-size-small .list-question-content {
    padding-left: 9px;
}
.input_text_message {
    margin-top: 10px;
    height: 125px;
}
.userimg-container {
    width: 100%
}
.userimg {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.view-size-medium .userimg {
    width: 50%
}
.svgimg {
    width: 100%;
    height: auto;
}
.textarea_half {
    min-height: 32px;
    float:left;
    width:100%;
    margin-top: 0;
}
.view-size-small .svgimg,
.view-size-small .label_half_left{
    width: 50%;
}
.view-size-small .label_half_right{
    width: 50%;
}
.field_line_odd_small {
    float: left;
    width: calc(22% - 52px);
    overflow-y: hidden
}
.view-size-medium .field_line_odd_small {
    float: left;
    width: 100%;
    min-height: 40px;
}
.field_line_even_small {
    float: right;
    width: calc(12% - 52px);
    overflow-y: hidden
}
.view-size-medium .field_line_even_small {
    float: left;
    width: 100%;
    min-height: 40px;
}
.landscape_only_small {
    display: none;
}
.view-size-bigger .landscape_only_small {
    display:none;
}
.view-size-medium .landscape_only_small {
    display: inline-block;
    position: relative;
    /*top: 5px;*/
}
.view-size-small .landscape_only_small {
    display: none;
}
.userMessage-title {
    width: 90%;
    margin-left: 13px;
    min-height: 12px;
}
.button-send {
    display: block;
    height: 25px;
    width: 100px;
    background-color: #6969ef;
    color: white;
}
