#infodeskEmployeeList .win-itemcontainer .win-itembox,
#infodeskEmployeeList .win-listview .win-itembox {
    background-color: transparent;
}

.infodeskEmpList .contentarea {
    overflow-y: hidden !important;
}

.infodeskEmpList .content-header {
    height: auto;
    min-height: 48px;
    display: inline-block;
}

.infodeskEmpList .master-list-header {
    width: auto !important;
    padding: 0;
}

.infodeskEmpList .content-header .field_line {
    min-height: 32px;
}

.pagecontrol:not(.view-size-medium) .infodeskEmpList #events {
    width: calc(100% - 16px);
    min-width: calc(100% - 16px);
}

.infodeskEmpList .list-header {
    font-weight: bold;
    display: flex;
}

.pagecontrol:not(.view-size-bigger) #infodeskEmpList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}


#infodeskEmployeeList .win-container {
    margin: 0;
}
#infodeskEmployeeList .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.infodeskEmpList .list-div-left {
    width: 100%;
}

.infodeskEmpList .list-symbol-IDw {
    float: right;
}

.infodeskEmpList .list-compressed {
    width: calc(100% - 50px);
}

/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

.view-size-bigger #employeeList .win-item {
    width: calc(100% - 52px);
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-bigger .action-image{
    width: 100%;
    float: left;
}
/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #employeeList .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/


.view-size-small #employeeList .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*.user-image-container {
    display: block;
    position: absolute;
    top: 2px;
    left: calc(100% - 40px);
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}
.user-image {
    display: block;
    position: relative;
    left: 0;
    top: -14px;
    z-index: 9900;
}*/
.user-photo-list {
    display: inline;
    position: absolute;
    left: 25px;
    top: 18px; /*12*/
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 9901;
}
.infodeskEmpList .content-header .input_half_right {
    min-height: 32px;
    margin-right: 60px; 
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

/*.infodeskEmpList .list-div-left {
    width: 100%;
}

.infodeskEmpList .contentarea {
    overflow-y: hidden !important;
}

#infodeskEmployeeList .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#infodeskEmployeeList .win-item,
#infodeskEmployeeList .list-header,
#infodeskEmployeeList .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.view-size-medium #infodeskEmployeeList .win-item,
.view-size-medium #infodeskEmployeeList .list-header,
.view-size-medium #infodeskEmployeeList .list-footer {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #infodeskEmployeeList .win-item,
.view-size-small #infodeskEmployeeList .list-header,
.view-size-small #infodeskEmployeeList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
}

*/
.infodeskEmpList .content-header .master-list-header {
    margin-top: 16px;
}

.infodeskEmpList .sortButton {
    margin-bottom: 5px;
    margin-top: 5px;
}

.infodeskEmpList .list-button-left {
    min-width: 100px;
    padding: 4px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 2px;
}