body {
}
#infodeskEmployeeList .win-itemcontainer .win-itembox,
#infodeskEmployeeList .win-listview .win-itembox {
    background-color: transparent;
}

#infodeskEmployeeList .listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 56px);
}

/* Styles used for the custom layout */
.listView .contactListLayout {
    position: static;
}
.listView .contactListLayout .win-surface {
    margin-left: 0;
}
#infodeskEmployeeList .win-container {
    margin: 0;
}
#infodeskEmployeeList .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}
 

/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

.view-size-bigger #employeeList .win-item {
    width: calc(100% - 52px);
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-bigger .action-image{
    width: 100%;
    float: left;
}
/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #employeeList .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/


.view-size-small #employeeList .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.onsite-offsiteInfodeskList{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: block;
    position: relative;
    left: 22px;
    top: -22px;
    z-index: 10000;
    padding: 0;
    text-align: center;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
.onsite-offsite-symbol {
    font-family: "Symbols";
    padding: 16px;
    display: block;
    position: relative;
    left: -14px;
    top: -15px;
}*/
/*.user-image-container {
    display: block;
    position: absolute;
    top: 2px;
    left: calc(100% - 40px);
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}
.user-image {
    display: block;
    position: relative;
    left: 0;
    top: -14px;
    z-index: 9900;
}*/
.user-photo-list {
    display: inline;
    position: absolute;
    left:25px;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 9901;
}
.infodeskEmpList .content-header .input_half_right {
    min-height: 32px;
    margin-right: 20px; /*-2*/
    float: right;
    width: 170px;
   /* margin-left: 1em;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.infodeskEmpList .content-header {
    height: auto;
}

.infodeskEmpList #nameInitialcircle {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}

/*.infodeskEmpList .list-div-left {
    width: 100%;
}

.infodeskEmpList .contentarea {
    overflow-y: hidden !important;
}

#infodeskEmployeeList .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#infodeskEmployeeList .win-item,
#infodeskEmployeeList .list-header,
#infodeskEmployeeList .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.view-size-medium #infodeskEmployeeList .win-item,
.view-size-medium #infodeskEmployeeList .list-header,
.view-size-medium #infodeskEmployeeList .list-footer {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #infodeskEmployeeList .win-item,
.view-size-small #infodeskEmployeeList .list-header,
.view-size-small #infodeskEmployeeList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest .infodeskEmpList .list-div-left {
    width: 100%;
    margin: 4px;
}*/
.view-size-smallest #infodeskEmployeeList .win-item {
    width: 100%;
    padding: 0;
    height: 54px;
}

.view-size-smallest .infodeskEmpList .master-list-header {
    display: none;
}

.infodeskEmpList .content-header {
    height: 100px;
}

.view-size-small .infodeskEmpList .content-header {
    height: 135px;
}

.infodeskEmpList .sortButton {
    margin-bottom: 5px;
    margin-top: 5px;
}
