#infodeskEmployeeList .win-itemcontainer .win-itembox,
#infodeskEmployeeList .win-listview .win-itembox {
    background-color: transparent;
}

.infodeskEmpList .contentarea {
    overflow-y: hidden !important;
}

.infodeskEmpList .content-header {
    height: auto;
    min-height: 48px;
    display: inline-block;
}

.infodeskEmpList .master-list-header {
    width: auto !important;
    padding: 0;
}

.infodeskEmpList .content-header .field_line {
    min-height: 32px;
}
.pagecontrol:not(.view-size-medium) .infodeskEmpList #events {
    width: calc(100% - 16px);
    min-width: calc(100% - 16px);
}


.infodeskEmpList .list-header {
    font-weight: bold;
    display: flex;
}

.pagecontrol:not(.view-size-bigger) #infodeskEmpList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#infodeskEmployeeList .list-field-image-fixed {
    text-align: left;
    width: 120px;
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
/*
#infodeskEmployeeList .list-field-image-fixed .action-image > svg {
    width: 28px;
    height: 28px;
}
*/

#infodeskEmployeeList .list-field-small-fixed {
    width: 140px;
}

#infodeskEmployeeList .list-field-big-variable {
    text-align: left;
    width: calc(40% - 120px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}


/* Styles used for the custom layout */
.listView .infodeskEmpListLayout {
    position: static;
}

.listView .infodeskEmpListLayout .win-surface {
    margin-left: 0;
}

#infodeskEmployeeList .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
}

#infodeskEmployeeList .win-container.win-disabled {
    opacity: 0.4;
}

#infodeskEmployeeList .win-item,
#infodeskEmployeeList .list-header,
#infodeskEmployeeList .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: calc(100% - 52px);
}

.view-size-medium #infodeskEmployeeList .win-item,
.view-size-medium #infodeskEmployeeList .list-header,
.view-size-medium #infodeskEmployeeList .list-footer {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
}

.view-size-small #infodeskEmployeeList .win-item,
.view-size-small #infodeskEmployeeList .list-header,
.view-size-small #infodeskEmployeeList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

.infodeskEmpList .content-header .master-list-header {
    margin-top: 16px;
}

.infodeskEmpList .user-photo-list {
    display: inline;
    position: absolute;
    left: 8px;
    top: 10px; /*12*/
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 9901;
}
.infodeskEmpList .list-landscape-only .user-photo-list {
    left: 0;
}
.infodeskEmpList .content-header .input_half_right {
    min-height: 32px;
    margin-right: 60px;
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.infodeskEmpList .sortButton {
    margin-bottom: 5px;
    margin-top: 5px;
}

.infodeskEmpList .list-button-left {
    min-width: 100px;
    padding: 4px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.infodeskEmpList .list-div-left {
    width: 100%;
}

.infodeskEmpList .list-symbol-ID {
    height: 44px;
}
