#eventstatuslist .win-itemcontainer .win-itembox,
#eventstatuslist .win-listview .win-itembox {
    background-color: transparent;
}

.eventStatusList .contentarea {
    overflow-y: hidden !important;
}

.eventStatusList .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}

.eventStatusList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}

.eventStatusList .master-list-header {
    height: auto !important;
}

#eventstatuslist .list-header {
    font-weight: bold;
    display: flex;
}

.pagecontrol:not(.view-size-bigger) #eventstatuslist .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

.eventStatusList .grayed-out {
    opacity: 0.6;
}

.eventStatusList .semibold {
    font-weight: 600;
}

.eventStatusList .list-compressed {
    width: 100%;
}
/* Styles used for the custom layout */
#eventstatuslist .win-container {
    margin: 0;
}

#eventstatuslist .win-item,
#eventstatuslist .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: calc(100% - 52px);
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #eventstatuslist .win-item,
.view-size-medium #eventstatuslist .list-header {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
}

.view-size-small #eventstatuslist .win-item,
.view-size-small #eventstatuslist .list-header {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

.eventStatusList .content-header .master-list-header {
    margin-top: 16px;
}

.eventStatusList .list-compressed-title.win-type-body {
    line-height: 1;
}

#eventstatuslist .list-field-small-relative {
    text-align: left;
    width: calc(100% - 260px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#eventstatuslist .list-field-small-fixed {
    width: 110px;
}
