.eventStatusList .list-div-left,
.eventStatusList .list-div-right {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.eventStatusList .grayed-out {
    opacity: 0.6;
}

.eventStatusList .semibold {
    font-weight: 600;
}
/* Styles used for the custom layout */
.listView .eventStatusListLayout {
    position: static;
}

    .listView .eventStatusListLayout .win-surface {
        margin-left: 0;
    }

#eventStatusList .win-container {
    margin: 0;
}
#eventStatusList .win-itembox {
    width: 100%;
    min-height: 60px;
}

#eventStatusList .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}

#eventStatusList .win-surface {
    margin-top: 0;
    margin-left: 0;
}

#eventStatusList.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 72px);
}
.view-size-smallest #eventStatusList .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view-size-smallest #eventStatusList .status {
    display: none !important;
}
.view-size-smallest .eventStatusList .list-div-left {
    width: 100%
}
