#mailingOptionsController .toggle-switch-parent {
    height: 50px;
}

#mailingOptionsController #nachbearbeitetFlagAutoSetToNull .win-toggleswitch-header,
#mailingOptionsController #thankMail .win-toggleswitch-header,
#mailingOptionsController #productMail .win-toggleswitch-header {
    display: none;
}

@media (max-width:899px) {
    #mailingOptionsController  .toggle-switch-parent {
        margin-bottom: 8px;
    }
}
#mailingOptionsController  .fields-container {
    width: 100%;
}

#mailingOptionsController .content-header-line {
    height: auto;
}

#mailingOptionsController .mailingOption-text {
    display: block;
    margin-bottom: 10px;
    white-space: pre-line;
    font-weight: bold;
}
