#imgMediaController .doc-container {
    float: left;
}

#imgDoc.imgview {
    width: 100%;
    height: 100%;
}

#imgDoc.imgview > .win-viewport {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

#imgDoc.imgview .win-itembox img {
    -webkit-filter: drop-shadow(4px 8px 12px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(4px 8px 12px rgba(0, 0, 0, 0.6));
    background-color: transparent;
}

#imgDoc.imgview .win-itembox img.cnv-ui-dark {
    -webkit-filter: drop-shadow(4px 8px 12px #000000);
    filter: drop-shadow(4px 8px 12px #000000);
    background-color: transparent;
}
