<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="imgMedia.css" rel="stylesheet" />
    <script type="text/javascript" src="imgMediaService.js"></script>
    <script type="text/javascript" src="imgMediaController.js"></script>
    <script type="text/javascript" src="imgMedia.js"></script>
</head>
<body class="win-type-body">
<div class="imgMedia fragment">
    <div id="imgMediaController" class="data-container">
        <section aria-label="Main content" role="main" class="animationElement">
            <div class="contentarea content-noscroll win-type-body">
                <div class="doc-container">
                    <div id="imgDoc" class="imgview">
                        <div tabindex="0" aria-hidden="true"></div>
                        <div tabindex="-1" class="win-viewport pinch" role="group" aria-label="Scrolling Container">
                            <div class="win-surface">
                                <div class="_win-proxy"></div>
                                <div class="win-itemscontainer">
                                    <div class="win-container">
                                        <div class="win-itembox"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>