#reorderList.listview {
    width: 100%;
}

#reorderList .win-surface {
    margin: 0
}

.reorderList .confirm-button {
    position: absolute;
    height: 100%;
}
body {
}

/*.win-itemscontainer {
    padding-left: 20px;
}*/

.reorderList .list-field-small-fixed {
    width: 200px;
    padding-left: 20px;
}

.reorderList .status {
    padding-left: 20px;
}

.reorderList .list-header {
    padding-left: 27px;
    font-weight: bold;
}
.reorderList .list-role-item {
    width: 100%;
    min-width: 200px;
    height: 48px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
