<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="dashboardFNIndustries.css" rel="stylesheet" />
    <script type="text/javascript" src="dashboardFNIndustriesService.js"></script>
    <script type="text/javascript" src="dashboardFNIndustriesController.js"></script>
    <script type="text/javascript" src="dashboardFNIndustries.js"></script>
</head>
<body class="win-type-body">
    <div class="dashboardFNIndustries fragment">
        <div id="dashboardFNIndustriesController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="countrysindustries-chart-top-container">
                        <select id="criteriadropdown"
                                class="win-dropdown"
                                data-win-control="WinJS.UI.Repeater"
                                data-win-bind="value: criteriaMain Binding.Mode.twoway; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone">
                            <option data-win-bind="value: CriterionID; textContent: CriterionText"></option>
                        </select>
                        <select id="countrydropdown"
                                class="win-dropdown"
                                data-win-control="WinJS.UI.Repeater"
                                data-win-bind="value: criteriaCountry Binding.Mode.twoway; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone">
                            <option data-win-bind="value: LandID; textContent: Land"></option>
                        </select>
                        <div class="dashboardFNIndustries-chart-top-container-tooltip" data-html2canvas-ignore="true">
                            <div class="list-symbol-ID">
                                <button data-win-bind="name: information" class="action-image" data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydashboardFNIndustriesElement2}"></button>
                            </div>
                            <div style="display: none;">
                                <div id="mydashboardFNIndustriesElement2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="anzcontainer">
                        <span data-win-bind="textContent: anzKontakteWData"></span><span id="anzkontaktewdatatext" class="win-type-caption" data-win-res="{textContent: 'diaCountrysIndustries.anzkontaktewdatatext'}"></span><span data-win-bind="textContent: anzKontakte"></span>
                    </div>
                    <!--<div id="container"></div>-->
                    <div class="countrysindustries-chart-container">
                        <canvas id="countrysIndustriesChart"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
