#contactPhoto.photoview {
    width: 100%;
    height: 100%;
}
#contactController .label.group {
    white-space: normal;
}

#contactController .mandatory-empty-warning {
    color: orange;
    font-weight: bold;
}