#turnThumbsLeft .win-toggleswitch-header,
#logEnabled .win-toggleswitch-header,
#logGroup .win-toggleswitch-header,
#cameraUseGrayscale .win-toggleswitch-header,
#replActive .win-toggleswitch-header,
#logNoStack .win-toggleswitch-header,
#showBackButton .win-toggleswitch-header {
    display: none;
}

#helpTextListHost.fragmenthost {
    height: 180px;
}

.view-size-biggest #helpTextListHost.fragmenthost {
    height: 240px;
}

.view-size-bigger #helpTextListHost.fragmenthost {
    height: 360px;
}

.view-size-medium #helpTextListHost.fragmenthost {
    height: 480px;
}

.view-size-medium-small #helpTextListHost.fragmenthost {
    height: 960px;
}
