/**
    employee page styles
*/

#emproleshost.fragmenthost {
    height: 120px;
}

.view-size-biggest #emproleshost.fragmenthost {
    height: 180px;
}
.view-size-bigger #emproleshost.fragmenthost {
    height: 240px;
}
.view-size-medium #emproleshost.fragmenthost {
    height: 560px;
}

.view-size-medium-small #emproleshost.fragmenthost {
    height: 1020px;
}
.text-lightcolorU {
    font-weight: bold;
    color: var(--ColorSignalRed);
    text-align: center
}

.employee .label_bold {
    font-weight: bold;
}