/**
    employee page styles
*/

#emproleshost.fragmenthost {
    height: 120px;
}

.view-size-biggest #emproleshost.fragmenthost {
    height: 180px;
}
.view-size-bigger #emproleshost.fragmenthost {
    height: 240px;
}
.view-size-medium #emproleshost.fragmenthost {
    height: 420px;
}

.view-size-medium-small #emproleshost.fragmenthost {
    height: 780px;
}
.text-lightcolorU {
    font-weight: bold;
    color: red;
    text-align: center
}
/*
.employee input[type="text"]:disabled {
    background-color: grey
}
*/
.employee .label_bold {
    font-weight: bold;
}