/**
    employee page styles
*/

#emproleshost.fragmenthost {
    height: 120px;
}

.view-size-medium #emproleshost.fragmenthost {
    height: 120px;
}

.view-size-small #emproleshost.fragmenthost {
    height: 360px;
}
.text-lightcolorU {
    font-weight: bold;
    color: red;
    text-align: center
}
.employee input[type="text"]:disabled {
    background-color: grey
}