#clientManagementList .win-itemcontainer .win-itembox,
#clientManagementList .win-listview .win-itembox {
    background-color: transparent;
}

.clientManagementList .contentarea {
    overflow-y: hidden !important;
}

.clientManagementList .content-header {
    height: auto !important;
    min-height: 48px;
}

/* Styles used for the custom layout */
#clientManagementList .list-header {
    font-weight: bold;
    display: flex;
}
.pagecontrol:not(.view-size-bigger) #clientManagementList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#clientManagementList .list-field-big-60 {
    text-align: left;
    width: calc(40% + 220px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#clientManagementList .win-container {
    margin: 0;
}

#clientManagementList .win-item,
#clientManagementList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
}

.view-size-medium #clientManagementList .win-item,
.view-size-medium #clientManagementList .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #clientManagementList .win-item,
.view-size-small #clientManagementList .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest #clientManagementList .win-headercontainer {
    display: none;
}

.view-size-smallest #clientManagementList .win-item,
.view-size-smallest #clientManagementList .list-header {
    width: 100%;
    padding: 0;
    height: 48px;
}
.clientManagementList .content-header .master-list-header {
    margin-top: 16px;
}
.view-size-smallest .clientManagementList .content-header .field_line {
    display: none !important;
}
.clientManagementList .list-div-left {
    width: 100%;
}

.clientManagementList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #clientManagementList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .clientManagementList .list-div-left {
    width: 100%;
    margin: 4px;
}

.clientManagementList #nameInitialcircle {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}
