body {
}
/* Styles used for the custom layout */
.listView .clientManagementListLayout {
    position: static;
}

    .listView .clientManagementListLayout .win-surface {
        margin-left: 0;
    }

#clientManagementList .win-container {
    margin: 0;
}
.view-size-smallest #clientManagementList .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-smallest #clientManagementList .status {
    display: none !important;
}

.view-size-smallest .clientManagementList .list-div-left {
    width: 100%
}
.clientManagementList #nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
