#suggestionBox {
    float: left;
    width: 90%;
}
#eventTyp.input_field {
    float: left;
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    margin-left: 5px;
}
.listView .siteEventsListLayout {
    position: static;
}
.siteEventsList .contentarea {
    overflow-y: hidden !important;
}
.siteEventsList .content-header {
    height: auto !important;
    min-height: 48px;
}
.siteEventsList .master-list-header {
    height: auto !important;
    padding-left: 0;
}
.siteEventsList .master-list-header.list-compact-only {
    padding-top: 48px;
}
.listView .siteEventsListLayout .win-surface {
    margin-left: 0;
}
#siteEventsList .list-field-big-2 {
    text-align: left;
    width: calc(100% - 220px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
}
#siteEventsList .win-container .list-landscape-only {
    padding-left: 5px;
}

#siteEventsList .win-container {
    margin: 0;
}
.view-size-small #siteEventsList .portrait_only {
    display: none;
}
.view-size-medium #siteEventsList .landscape_only {
    display: inline;
    top: 0px;
    margin-left: 5px;
}
#siteEventsListController .view-size-medium .input_field {
    float: left;
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
}
#siteEventsListController .win-type-caption {
    font-size: 16px;
    margin-left: 5px;
}
#siteEventsListController .label {
    width: auto;
    margin-left: 5px;
    font-size: 16px;
    top: 0px;
}
.view-size-smallest #siteEventsList .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view-size-smallest #siteEventsList #eventTyp {
    display: none !important;
}

.view-size-smallest #siteEventsList .master-list-header {
    display: none !important;
}
.siteEventsList .list-div-left {
    width: 100%
}
.siteEventsList .list-compressed {
    width: calc(100% - 100px)
}
view-size-smallest #siteEventsList .win-container {
    width: 100% !important;
}

.view-size-smallest .siteEventsList .list-div-left {
    width: 100%;
    margin: 0;
}
.siteEventsList #nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
