#suggestionBox {
    float: left;
    width: 90%;
}
.siteEventsList .contentarea {
    overflow-y: hidden !important;
}
.siteEventsList .content-header {
    height: auto !important;
    min-height: 48px;
}
.siteEventsList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}
.siteEventsList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#siteEventsList .list-header {
    font-weight: bold;
    display: flex;
}
#siteEventsList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#siteEventsList .list-field-big-2 {
    text-align: left;
    width: calc(100% - 220px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#siteEventsList .win-container {
    margin: 0;
}

#siteEventsList .win-item,
#siteEventsList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
}
.view-size-medium #siteEventsList .win-item,
.view-size-medium #siteEventsList .list-header {
    padding-left: 18px;
    padding-right: 18px;
}
.view-size-small #siteEventsList .win-item,
.view-size-small #siteEventsList .list-header {
    padding-left: 10px;
    padding-right: 10px;
}
.view-size-smallest #siteEventsList .win-headercontainer {
    display: none;
}
.view-size-smallest #siteEventsList .win-item,
.view-size-smallest #siteEventsList .list-header {
    width: 100%;
    padding: 0;
    height: 48px;
}

.siteEventsList .content-header .master-list-header {
    margin-top: 16px;
}
.view-size-smallest .siteEventsList .content-header .field_line {
    display: none !important;
}
.siteEventsList .list-div-left {
    width: 100%
}
.siteEventsList .list-compressed-title.win-type-body {
    line-height: 1;
}
view-size-smallest #siteEventsList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .siteEventsList .list-div-left {
    width: 100%;
    margin: 4px;
}
.siteEventsList #nameInitialcircle {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}
