#suggestionBox {
    float: left;
    width: 90%;
}
.siteEventsList .contentarea {
    overflow-y: hidden !important;
}
.siteEventsList .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}
.siteEventsList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}
#siteEventsList .list-header {
    font-weight: bold;
    display: flex;
}
.pagecontrol:not(.view-size-bigger) #siteEventsList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#siteEventsList .list-field-big-2 {
    text-align: left;
    width: calc(100% - 220px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#siteEventsList .win-container {
    margin: 0;
}

#siteEventsList .win-item,
#siteEventsList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
}
.view-size-medium #siteEventsList .win-item,
.view-size-medium #siteEventsList .list-header {
    padding-left: 18px;
    padding-right: 18px;
}
.view-size-small #siteEventsList .win-item,
.view-size-small #siteEventsList .list-header {
    padding-left: 10px;
    padding-right: 10px;
}
.siteEventsList .content-header .master-list-header {
    margin-top: 16px;
}
.siteEventsList .list-div-left {
    width: 100%
}
.siteEventsList .list-compressed-title.win-type-body {
    line-height: 1;
}
