<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="visitorFlowDevices.css" rel="stylesheet" />
    <script type="text/javascript" src="visitorFlowDevicesService.js"></script>
    <script type="text/javascript" src="visitorFlowDevicesController.js"></script>
    <script type="text/javascript" src="visitorFlowDevices.js"></script>
</head>
<body class="win-type-body">
    <div class="visitorFlowDevices fragment">
        <div id="startContactsController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitlevisitorflowdevices">
                        <span class="gridtitlevisitorflowdevicestext" data-win-res="{textContent: 'visitorFlowDevices.title'}"></span>
                    </div>
                    <div class="headerFooterPlaceholder">
                        <div class="list-header">
                            <div class="list-header-columns">
                                <div class="list-header-column devstatus">
                                    <span>&nbsp;</span>
                                </div>
                                <div class="list-header-column devtitle win-type-ellipsis">
                                    <span data-win-res="{textContent: 'visitorFlowDevices.device', title: 'visitorFlowDevices.device'}"></span>
                                </div>
                                <div class="list-header-column devnr win-type-ellipsis">
                                    <span data-win-res="{textContent: 'visitorFlowDevices.user', title: 'visitorFlowDevices.user'}"></span>
                                </div>
                                <div class="list-header-column deventext">
                                    <span data-win-res="{textContent: 'visitorFlowDevices.entexttitle', title: 'visitorFlowDevices.entexttitle'}"></span>
                                </div>
                                <div class="list-header-column devlts">
                                    <span data-win-res="{textContent: 'visitorFlowDevices.lastmsg', title: 'visitorFlowDevices.lastmsg'}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="list-footer">
                            <div class="status">
                                <div class="progress"
                                     data-win-bind="style.display: loading Binding.Converter.toDisplay">
                                    <progress class="win-ring win-medium wait-circle"></progress>
                                </div>
                                <div class="counter"
                                     data-win-bind="style.display: loading Binding.Converter.toDisplayNone">
                                    <span data-win-res="{textContent: 'contactList.count'}"></span><span>: </span>
                                    <span data-win-bind="textContent: count"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visitorFlowDevicesList-template"
                         data-win-control="WinJS.Binding.Template" style="display: none">
                        <div class="list-row">
                            <div class="row-bkg-gray"
                                 data-win-bind="style.display: index Binding.Converter.oddToDisplay"></div>
                            <div class="list-column devstatus">
                                <div class="devstatuscircle">
                                    <span class="dotdev"
                                          data-win-bind="style.backgroundColor: dotdevColor"></span>
                                </div>
                            </div>
                            <div class="list-column devtitle win-type-ellipsis">
                                <span data-win-bind="textContent: TITLE; title: TITLE"></span>
                            </div>
                            <div class="list-column devnr win-type-ellipsis">
                                <span data-win-bind="textContent: Login; title: Login"></span>
                            </div>
                            <div class="list-column deventext">
                                <span data-win-bind="textContent: entextdev; title: entextdev"></span>
                            </div>
                            <div class="list-column devlts">
                                <span data-win-bind="textContent: LastCallTimeStamp"></span>
                            </div>
                        </div>
                    </div>
                    <div id="visitorFlowDevicesList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                             itemTemplate: select('.visitorFlowDevicesList-template'),
                             header: select('.list-header'),
                             footer: select('.list-footer'),
                             selectionMode: 'none',
                             tapBehavior: 'none'
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>