.country-chart-top-container {
    height: 50px;
    width: 100%;
}
.country-chart-top-text-container {
    height: 50px;
    /*width: 20%;*/
    float: left;
    font-weight: bold;
    display: table;
}
.country-chart-top-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.country-chart-top-combo-container {
    height: 50px;
    /*width: 78%;*/
    display: table;
    float: right;
}
.country-chart-container {
    /*min-height: 235px;*/
    width: 100%;
}
.country-chart-holder {
    width: 50%;
    height: 235px; /*240px*/
    float: right;
}
.view-size-medium .country-chart-holder {
    width: 50%;
}
.view-size-medium-small .country-chart-holder {
    width: 100%;
    padding-top: 5px;
}
.view-size-small .country-chart-holder {
    width: 100%;
    padding-top: 5px;
}
.countrys-label-surpreme {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.view-size-biggest .countrys-label-surpreme {
    width: 50%;
    /*font-size: 13px;*/
}
.view-size-bigger .countrys-label-surpreme {
    width: 49%;
    font-size: 13.5px;
}
.view-size-big .countrys-label-surpreme {
    width: 45%;
    font-size: 13px;
}
.view-size-medium .countrys-label-surpreme {
    width: 48%;
    font-size: 15px;
}
.view-size-medium-small .countrys-label-surpreme {
    width: 100%;
    font-size: 15px;
}
.view-size-small .countrys-label-surpreme {
    width: 100%;
    font-size: 13px;
    margin-bottom: 5px;
}
.custom-legends {
    width: 100%;
    height: 100%;
    display: grid;
}
.view-size-small .custom-legends {
    font-size: 14px;
}
.custom-legends-item-left {
    margin-left: 5%;
    width: 10%;
    float: left;
}
.custom-legends-item-left-count {
    float: left;
    font-weight: bolder;
}
.custom-legends-item-right {
    width: 60%;
    float: right;
}
.view-size-bigger .custom-legends-item-right {
    width: 77%;
}
.custom-legends-item-right-title {
    float: left;
}

.custom-legends-item-right-count {
    float: right;
    font-weight: bolder;
}
.diaCountrys select {
    /* Reset Select */
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    font-size: 14px;
    font-weight: bold;
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: darkgray;
    background-image: none;
    cursor: pointer;
}

.diaCountrys .win-dropdown {
    
    height: 50px;
    float: left;
    position: relative;
    display: flex;
    border-radius: .25em;
    overflow: hidden;
    margin: 0;
}
#top5countrydropdown {
    width: 33% !important;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: darkgray;
    outline: 0;
    border: 0;
    box-shadow: none;
    font-family: Open Sans;
}
.diaCountrys .action-image {
    margin-top: 13px;
    display: flex !important;
    position: center;
}