<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="diaCountrys.css" rel="stylesheet" />
    <script type="text/javascript" src="diaCountrysService.js"></script>
    <script type="text/javascript" src="diaCountrysController.js"></script>
    <script type="text/javascript" src="diaCountrys.js"></script>
</head>
<body class="win-type-body">
    <div class="diaCountrys fragment">
        <div id="diaCountrysController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="country-chart-top-container">
                    <div class="country-chart-top-text-container">
                        <div class="country-chart-top-text" data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydiaCountrysElement}">
                            <span class="country-chart-top-text" data-win-res="{textContent: 'diaCountrys.top10'}"></span>
                        </div>
                        <div style="display: none;">
                            <div id="mydiaCountrysElement" data-win-res="{textContent: 'diaCountrys.titleTooltip'}"></div>
                        </div>
                    </div>
                    <div class="country-chart-top-combo-container">
                        <div class="list-symbol-ID">
                            <button data-win-bind="name: information" class="action-image" data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydiaCountrysElement2}"></button>
                        </div>
                        <div style="display: none;">
                            <div id="mydiaCountrysElement2" data-win-res="{textContent: 'diaCountrys.titleTooltip'}"></div>
                        </div>
                        </div>
                </div>
                <div class="country-chart-container">
                    <div class="countrys-label-surpreme" id="countrys-label-surpreme">
                    </div>
                    <div class="country-chart-holder">
                        <canvas id="countryChart"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>