#listQuestionList .win-itemcontainer .win-itembox,
#listQuestionList .win-listview .win-itembox {
    background-color: transparent;
}

#listQuestionList .listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 8px);
}

/* Styles used for the custom layout */
.listView .questionListLayout {
    position: static;
}
.listView .questionListLayout .win-surface {
    margin-left: 0;
}
#listQuestionList .win-container {
    margin: 0;
}
#listQuestionList .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 16px;
}

#listQuestionList .win-selectionbackground {
    background-color: transparent;
}
#listQuestionList .win-selected .win-selectionbackground:hover,
#listQuestionList .win-container.win-selected:hover,
#listQuestionList .win-itembox.win-selected:hover {
    background-color: transparent !important;
}

#listQuestionList .question-type {
    display: none;
    padding: 8px;
    width: calc(100% - 16px);
    height: auto;
}

#listQuestionList .win-selected .question-type {
    display: inline-block;
}

#listQuestionList .question-list-button {
    /*
    background-color: transparent;  
    */
    min-width: 46px;
    min-height: 46px;
    margin: 0 4px;
    float: left;
    border-color: transparent;
    background-color: rgba(255,255,255,0.8);
}
#listQuestionList .win-selected .question-list-button:hover {
    background-color: #e6e6e6 !important;
}
#listQuestionList .win-selected .question-list-button:hover {
    background-color: #ffffff !important;
}

#listQuestionList .question-list-image {
    position: relative;
    top: 3px;
}

#listQuestionList .question-button {
    background-color: transparent;
    /*
    border-color: transparent;           
    margin: 0;
    */
    min-width: 32px;
    min-height: 32px;
}

#listQuestionList .type-selected {
    width: 48px;
    height: 28px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 0 4px;
    float: left;
    background-color: #ffffff;
}

#listQuestionList .row-bkg {
    left: 26px;
    top: 64px;
    width: calc(100% - 52px);
    height: calc(100% - 80px);
    display: none;
}
#listQuestionList .win-selected .row-bkg {
    display: inline-block;
}

.view-size-medium #listQuestionList .row-bkg {
    left: 18px;
    width: calc(100% - 36px);
}
.view-size-small #listQuestionList .row-bkg {
    left: 10px;
    width: calc(100% - 20px);
}

#listQuestionList .answer-type-container {
    min-height: 28px;
    float: left;
    width: auto;
    margin: 0 4px;
}

#listQuestionList .answer-count-container {
    min-height: 28px;
    width: 50%;
    float: right;
    margin: 0 4px;
}

#listQuestionList .answer-count-label, #listQuestionList .answer-type-label {
    width: 100%;
    display: block;
    margin: 5px;
}

#listQuestionList .answer-count-range {
    padding: 0;
    margin-top: 6px;
    width: calc(100% - 48px);
    float: left;
}

#listQuestionList .answer-count {
    width: 40px;
    float: right;
    text-align: right;
}


#listQuestionList .answer-block {
    width: calc(100% - 68px);
    float: right;
}

#listQuestionList .line-separator.row-end {
    height: 48px;
}

#listQuestionList .range_output {
    font-weight: bold;
}

#listQuestionList .list-question-content {
    display: none;
}
#listQuestionList .win-selected .list-question-content {
    display: inline;
}

#listQuestionList .questionnaire-content {
    display: inline;
}

#listQuestionList .win-selected .questionnaire-content {
    display: none;
}

.questionnaire-content span.checkbox,
.questionnaire-content span.radio {
    padding-top: 0;
}

#listQuestionList .win-toggleswitch-header {
    display: none;
}
/*.listView .questionListLayout */
/*
#listQuestionList select#TextDatum {
    display: none;
}

#listQuestionList win-selected select#TextDatum {
    display: inline;
}

#listQuestionList textarea#TextDatum {
    display: inline;
}
#listQuestionList win-selected textarea#TextDatum {
    display: none;
}
*/
.questionListLayout label.radio, .questionListLayout label.checkbox {
    padding: 4px 4px 4px 0;
}
.questionListLayout input.radio, .questionListLayout input.checkbox {
    float: left;
    vertical-align: top;
    /*
    margin-left: 0;
    */
    margin-top: -8px;
    padding-top: 0;
    height: 40px;
}
.checkbox.win-textbox,
.radio.win-textbox {
    width: calc(100% - 60px) !important;
}


#listQuestionList .win-pressed .win-itembox {
  background-color: transparent;
}

.list-question-field {
    padding-bottom: 8px;
    padding-top: 10px;
    width: 60%;
    float: left;
}
.list-fragengruppe-container {
    display: block;
    position: relative;
    margin-left: -26px;
    margin-right: -26px;
    margin-top: -2px;
    height: 60px;
}
.list-fragengruppe-field {
    width: 100%;
    display: inline-block;
    height: 12px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

#multiRating {
    display: none;
}

.list-question-multi-rating {
    float: left;
    width: 30%;
    padding-bottom:0;
    padding-top: 28px;
}
.list-question-multi-rating-deep{
    float: left;
    width: 30%;
    padding-bottom:0;
    padding-top:12px;
}
.list-question-content {
    padding-left: 28px;
}

.questionnaire-row {
    height: auto;
}

.field_line_questionnaire {
    width: 100%;
    height: auto;
}
.field_row_odd {
    float: left;
    width: 50%;
}
.field_row_even {
    float: right;
    width: 50%;
}
.field_line_left {
    float: left;
    width: 50%;
    padding: 0;
}
.field_line_right {
    float: right;
    width: 50%;
    padding: 0;
}
.freitextInput {
    width: 100%;
    height:26px;
}
.freitextInput:focus{
    height: 96px;
    width: 100%;
}
.rating-question-field {
    min-height: 100px;
}
.multi-rating {
    width: 15%;
    max-width: 70px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
}

.multi-rating-div {
   /* display:inline-block; */
    float: right;
    width: 70%;
    margin-left:0;
    margin-top:0;

}
.rating-field {
    float: right;
    width: 40%;
}
.multi-rating-checkbox{
    width:100%;
}
.multi-rating-span{
    width:100%;
    padding-left:3px;
}
textarea::-webkit-input-placeholder {font-style:italic; }
textarea::-moz-placeholder { font-style:italic; } /* firefox 19+ */
textarea:-ms-input-placeholder { font-style:italic; } /* ie */


/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #listQuestionList .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-size-medium .list-fragengruppe-container {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -8px;
}
.view-size-medium .field_row_odd {
    float: left;
    width: 100%;
}
.view-size-medium .field_row_even {
    float: left;
    width: 100%;
}
.view-size-medium .field-separator {
        width:calc(100% - 40px);
        height:0;
        float:left;
}
.view-size-medium .list-question-content {
    padding-left: 15px;
}

.view-size-medium #listQuestionList .landscape_only {
    display: inline;
}
/*
    margins/paddings for medium small sized screens 


    is now signalled by additional class: view-size-medium-small

    @media (max-width:699px) {
    }
*/

.view-size-medium-small #listQuestionList .answer-count-container {
    width: calc(100% - 8px);
    float: left;
}


.view-size-medium-small .list-question-field {
    padding-bottom: 8px;
    width: 100%;
    float: left;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.view-size-medium-small .rating-field {
    float: left;
    width: 60%;
}

  
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/

.view-size-small #listQuestionList .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-small #listQuestionList .answer-count-container {
    width: calc(100% - 8px);
    float: left;
}

.view-size-small .list-fragengruppe-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -4px;
}
.view-size-small .field_line_left {
    float: left;
    width: 100%;
}
.view-size-small .field_line_right {
    float: left;
    width: 100%;
}
.view-size-small .field-separator {
    display: none;
}
.view-size-small .rating-question-field {
    float:left;
    width: 100%;
}
.view-size-small .list-question-content {
    padding-left: 9px;
}

.view-size-small .questionnaire-content span.checkbox,
.view-size-small .questionnaire-content span.radio {
    padding-top: 4px;
}
