#clientmanagementlicenseslist #startdate {
    width: 100px;
    text-align: center;
}

#clientmanagementlicenseslist #enddate {
    width: 100px;
    text-align: center;
}

#clientmanagementlicenseslist #event {
    width: 300px;
    text-align: left;
}

#clientmanagementlicenseslist #licenses {
    width: 100px;
    text-align: center;
}

#clientmanagementlicenseslist .win-itemscontainer {
    padding-left: 20px;
}

#clientmanagementlicenseslist .list-field-small-fixed {
    width: 300px;
    padding-left: 20px;
}

#clientmanagementlicenseslist {
    width: 100%;
    height: auto;
}

#clientmanagementlicenseslist .list-header {
    padding-left: 27px;
    font-weight: bold;
}

#clientmanagementlicenseslist .list-footer {
    margin-left: 22px;
}
