<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <remove name="AddCrossDomainHeader" />
                <rule name="AddCrossDomainHeader">
                    <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                    <conditions>
                        <add input="{HTTP_ORIGIN}" pattern="(http://lsmain.westeurope.cloudapp.azure.com)(.*)"/>
                    </conditions>
                    <action type="Rewrite" value="{C:1}" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
