#genDataEmpList .win-itemcontainer .win-itembox,
#genDataEmpList .win-listview .win-itembox {
    background-color: transparent;
}
.genDataEmpList .contentarea {
    overflow-y: hidden !important;
}
.genDataEmpList .content-header {
    height: auto;
    min-height: 48px;
    display: inline-block;
}
.genDataEmpList .master-list-header {
    width: auto !important;
    padding: 0;
}
.genDataEmpList .master-list-header.list-compact-only {
    padding-top: 48px;
}
.genDataEmpList .content-header .field_line {
    min-height: 32px;
}
.pagecontrol:not(.view-size-medium) .genDataEmpList #events {
    width: calc(100% - 16px);
    min-width: calc(100% - 16px);
}

.genDataEmpList .list-header {
    font-weight: bold;
    display: flex;
}
.pagecontrol:not(.view-size-bigger) #genDataEmpList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#genDataEmpList .list-field-image-fixed {
    text-align: left;
    width: 60px;
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}
#genDataEmpList .list-field-image-fixed .action-image > svg {
    width: 28px;
    height: 28px;
}

#genDataEmpList .list-field-small-fixed {
    width: 110px;
}

#genDataEmpList .list-field-big-variable {
    text-align: left;
    width: calc(40% - 120px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

/* Styles used for the custom layout */
.listView .genDataEmpListLayout {
    position: static;
}
.listView .genDataEmpListLayout .win-surface {
    margin-left: 0;
}
#genDataEmpList .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
}
#genDataEmpList .win-container.win-disabled {
    opacity: 0.4;
}

#genDataEmpList .win-item,
#genDataEmpList .list-header,
#genDataEmpList .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.view-size-medium #genDataEmpList .win-item,
.view-size-medium #genDataEmpList .list-header,
.view-size-medium #genDataEmpList .list-footer {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #genDataEmpList .win-item,
.view-size-small #genDataEmpList .list-header,
.view-size-small #genDataEmpList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest #genDataEmpList.listview {
    margin-top: -6px;
}

.view-size-smallest #genDataEmpList .win-headercontainer {
    display: none;
}

.view-size-smallest #genDataEmpList .win-item {
    width: 100%;
    padding: 0;
    height: 48px;
}

.genDataEmpList .content-header .master-list-header {
    margin-top: 16px;
}

.view-size-smallest .genDataEmpList .content-header .field_line {
    display: none !important;
}

.genDataEmpList .list-button-left {
    min-width: 100px;
    padding: 4px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 2px;
}
.genDataEmpList .list-div-left {
    width: 100%;
}
.genDataEmpList .list-symbol-IDw {
    float: right;
}

.genDataEmpList .list-compressed {
    width: calc(100% - 90px);
}
.genDataEmpList .licence-warning-text {
    color: firebrick;
    font-weight: bold;
}

.genDataEmpList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #genDataEmpList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .genDataEmpList .list-div-left {
    width: 100%;
    margin: 4px;
}

.genDataEmpList .list-compact-only .list-div-left > span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}

#Seriennummer {
    text-align: right;
    width: 118%;
}

.genDataEmpList .list-symbol-ID {
    margin-top: 7px !important;
}
.genDataEmpList .list-symbol-IDw {
    margin-top: 7px !important;
}
