.view-size-medium .genDataModDetails .fields-container {
    width: 100% !important;
}
.genDataModDetails .dropzone-container {
    z-index: 4;
    height: 200px;
    width: 98%;
    min-width: 100px;
    text-align: center;
    padding-top: 80px;
}

.genDataModDetails .zero-sized {
    width: 0;
    height: 0;
}
#modpicture {
    height: 250px;
    width: auto;
}
#picchange {
    margin-top: 5px;
}