<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="reportingList.css" rel="stylesheet" />
    <script type="text/javascript" src="reportingListService.js"></script>
    <script type="text/javascript" src="reportingListController.js"></script>
    <script type="text/javascript" src="reportingList.js"></script>
</head>
<body class="win-type-body">
    <div class="reportingList fragment">
        <div id="reportingListController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="reportingList-template"
                         data-win-control="WinJS.Binding.Template" style="display: none">
                        <div class="button-container win-surface win-itemscontainer titlearea-bkg-white">
                            <button class="reporting-button win-button titlearea-bkg"
                                    onclick="AppBar.handleEvent('click', 'clickExport', event)"
                                    data-win-bind="value: OLELetterID">
                                <div class="action-label-container titlearea-bkg-white">
                                    <span data-win-bind="textContent: Text"></span>
                                </div>
                                <div class="action-image-container">
                                    <!--<img data-win-bind="src: exportTypeIcon" style="height: 50px; color: white"/>-->
                                    <div data-win-bind="name: exportTypeIcon" class="action-image" style="width: 50px; height: 50px"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="reportingList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                            itemTemplate: select('.reportingList-template')
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>