<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="reportingList.css" rel="stylesheet" />
    <script type="text/javascript" src="reportingListService.js"></script>
    <script type="text/javascript" src="reportingListController.js"></script>
    <script type="text/javascript" src="reportingList.js"></script>
</head>
<body class="win-type-body">
    <div class="empRoles fragment">
        <div id="empRolesController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="reportingList-template"
                         data-win-control="WinJS.Binding.Template" style="display: none">
                                <button
                                    class="button"
                                    data-win-bind="textContent: Text; value: OLELetterID"
                                    onclick="AppBar.handleEvent('change', 'clickExport', event)"></button>
                        </div>
                    <div id="reportingList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                            itemTemplate: select('.reportingList-template')
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>