/*
    styles for page: login

.centerareea {
    width: 500px;
    height: 400px;
    margin-left: calc(100% - 250px);
    margin-top: calc(100% - 200px);
}

.view-size-small .centerareea {
    width: 100%;
    margin: 0;
}
*/

