/*
    styles for page: login, with 2FA token
*/
.login .centerarea, .token .centerarea {
    height: 480px;
}

/************Form for 2FA token input************/
.token .centerarea {
    width: 500px;
}

.view-size-small .login .centerarea,
.view-size-small .token .centerarea {
    height: auto;
}

.login .button_line, .token .button_line {
    margin: 10px 0;
}

/***********Text for 2FA token input field*********/
.tokentext .large_field {
    margin: 0 20px;
}

/**********Inputfield for 2FA token****************/
.centerarea .input_field .win-textbox .token_input {
    width: calc(100% - 4px);
    min-width: calc(100% - 0px);
    margin: 0 20px;
}

/***********Token button***************************/
.text-lightcolor .titlearea-bkg .win-button .tokenButton {
    padding: 12px 24px;
    color: #ffffff;
    background-color: rgb(216, 97, 65);
    border-radius: 2px;
    border-color: rgb(216, 97, 65);
    font-size: 24px;
}

.text-lightcolor .titlearea-bkg .win-button .tokenButton:hover {
    border-color: rgba(0, 0, 0, .4);
}

#privacyPolicyLink {
    margin-left: 36px;
}

#passwordRecovery {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: -webkit-link;
    text-decoration: underline;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    margin: 8px 0;
}

.passwordRecovery-link {
    cursor: pointer;
}