#voucherbutton {
    max-width: 200px;
    margin-left: 8px;
    float: none;
}
#voucheradministrationlisthost {
    height: calc(100% - 200px);
}

.view-size-medium #voucheradministrationlisthost {
    height: calc(100% - 400px);
}

.view-size-small #voucheradministrationlisthost {
    height: calc(100% - 600px);
}


/*
.voucherorder-button {
    margin-left: 5px;
}
#categorycomment {
    float: none !important;
}
#categorycount {
    float: none !important;
}
#vouchernumber {
    margin-top: 20px !important;
}
#voucherbutton {
    margin-top: 20px !important;
}
.voucheradministrationlisthost {
    height: 800px !important;
}
.voucherAdministration .contentarea {
    height: 100%;
}
*/
