.voucherorder-button {
    margin-left: 5px;
}
#categorycomment {
    float: none !important;
}
#categorycount {
    float: none !important;
}
#vouchernumber {
    margin-top: 20px !important;
}
#voucherbutton {
    margin-top: 20px !important;
}
.voucheradministrationlisthost {
    height: 800px !important;
}
.contentarea {
    height: 100%;
}