body {
}
#seperator {
    margin-top: 20px;
}
#samplename {
    margin-top: 20px;
}
#exportPdfString {
    margin-top: 20px;
}
.fields-container {
    width: 100%;
}
.loader {
    margin-top: 2%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: var(--ColorAccentDefault); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#pdfExportListhost {
    height: 100px;
}

.view-size-medium #pdfExportListhost {
    height: 200px;
}

.view-size-medium-small #pdfExportListhost {
    height: 300px;
}
