body {
}

/*.win-itemscontainer {
    padding-left: 20px;
}*/

.employeeGenPWList .list-field-small-fixed {
    text-align: left;
    width: calc(20% - 15px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 20px;
}

.employeeGenPWList .list-barcodefield-small-fixed {
    width: 130px;
    padding-left: 20px;
}

.employeeGenPWList .list-field-small-relative  {
    text-align: left;
    width: calc(20% - 26px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 20px;
}
.employeeGenPWList .status {
    padding-left: 42px;
    padding-top: 10px;
}
.employeeGenPWList .list-header {
    padding-left: 27px;
    font-weight: bold;
}
.employeeGenPWList .row-separator {
    padding-left: 20px;
    padding-right: 20px;
}
#employeegenpwlist {
    height: 100%;
}
.employeeGenPWList .barcode-item {
    width:180px;
    height: 180px;
    margin-right: 180px;
    margin-bottom: 105px;
    overflow: hidden;
}
/*.userinfo-qrcode-container {
    background-color: white;
}*/

.employeeGenPWList .userinfo-qrcode-container {
    text-align: left;
    width: 100px;
    height: 100px;
    top: 0;
    /*min-height: 32px;*/
    padding-top: 8px;
    padding-left: 20px;
}
.employeeGenPWList table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

.employeeGenPWList td,
.employeeGenPWList th {
    padding: 5px 15px;
    text-align: left;
    height: 35px;
    max-width: 100%;
    white-space: nowrap;
}

.employeeGenPWList table {
    /*border: 1px solid grey;*/
}

.employeeGenPWList td {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.employeeGenPWList th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.employeeGenPWList .table-body tr:hover {
    background: #f8f9fb;
}
.employeeGenPWList table,
.employeeGenPWList tr,
.employeeGenPWList #status {
    border-right: 0px !important;
}

.employeeGenPWList table,
.employeeGenPWList tr,
.employeeGenPWList #datacheckbox {
    border-left: 0px !important;
}

.view-size-medium .employeeGenPWList table {
    border: 0;
    width: 100%;
}

.view-size-medium .employeeGenPWList table caption {
    font-size: 1.3em;
}
  
.view-size-medium .employeeGenPWList table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
  
.view-size-medium .employeeGenPWList table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}
  
.view-size-medium .employeeGenPWList table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    height: auto;
}

.view-size-medium .employeeGenPWList  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(title);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
  
.view-size-medium .employeeGenPWList table td:last-child {
    border-bottom: 0;
}

