.gridtitlecopeda {
    max-width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
}
.gridtitletextcopeda {
    display: flex;
    padding-left: 15px;
    padding-top: 3px;
    font-weight: bolder;
    font-size: 18px;
}
.tooltip {
    background-color: white;
}