.mailingList .scroll-line {
    overflow-x: auto;
    overflow-y: hidden;
}

.mailingList * {
    box-sizing: border-box;
}

.mailingList table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.mailingList td,
.mailingList th {
    padding: 5px 15px;
    text-align: left;
    height: 35px;
}

.mailingList table {
    border: 1px solid grey;
}

.mailingList td,
.mailingList th {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.mailingList .table-body tr:hover {
    background: #f8f9fb;
}

.mailingList #counter {
    margin-left: 25px;
}

.mailingList table,
.mailingList tr,
.mailingList #status {
    border-right: 0px !important;
}

.mailingList table,
.mailingList tr,
.mailingList #datacheckbox {
    border-left: 0px !important;
}
#flags .list-symbol-ID {
    width: 40px;
    height: 20px;
    margin-top: 5px;
}
.mailedit-button {
    background-color: #e7e7e7 !important;
    color: black !important;
}
.mailingList #lmuser, .mailingList #lmutc {
    font-style: italic !important;
}
.mailingList #mailactivestatus {
    height: 30px !important;
    width: 100px !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}