.startMediaAdministration .seriesTextUsagefragmenthost {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
}
.startMediaAdministration .media-container {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 48px;
}
.startMediaAdministration .textfragmenthost {
    display: inline-block;
    position: absolute;
}
.startMediaAdministration .docfragmenthost {
    display: inline-block;
    position: absolute;
}
.startMediaAdministration .listfragmenthost {
    position: absolute;
    width: 100%;
    height: 190px;
    bottom: 0;
    z-index: 5;
}
 

