#employeeList .win-itemcontainer .win-itembox,
#employeeList .win-listview .win-itembox {
    background-color: transparent;
}
.empList .contentarea {
    overflow-y: hidden !important;
}
.empList .content-header {
    height: auto;
    min-height: 48px;
    display: inline-block;
}
.empList .master-list-header {
    width: auto !important;
    padding: 0;
}

.empList .content-header .field_line {
    min-height: 32px;
}

.empList .list-header {
    font-weight: bold;
    display: flex;
}

.pagecontrol:not(.view-size-bigger) #employeeList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#employeeList .list-field-image-fixed {
    text-align: left;
    width: 60px;
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#employeeList .list-field-image-fixed .action-image > svg {
    width: 28px;
    height: 28px;
}

/* Styles used for the custom layout */
.listView .empListLayout {
    position: static;
}
.listView .empListLayout .win-surface {
    margin-left: 0;
}
#employeeList .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
}
#employeeList .win-container.win-disabled {
    opacity: 0.4;
}

#employeeList .win-item,
#employeeList .list-header,
#employeeList .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    width: calc(100% - 52px);
}

.view-size-medium #employeeList .win-item,
.view-size-medium #employeeList .list-header,
.view-size-medium #employeeList .list-footer {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
}

.view-size-small #employeeList .win-item,
.view-size-small #employeeList .list-header,
.view-size-small #employeeList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

.empList .content-header .master-list-header {
    margin-top: 16px;
}

.empList .list-button-left {
    min-width: 100px;
    padding: 4px;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 2px;
}
.empList .list-div-left {
    width: 100%;
}
.empList .list-symbol-IDw {
    float: right;
}
.empList .list-compressed {
    width: calc(100% - 90px);
}
.empList .licence-warning-text {
    color: var(--ColorSignalRed);
    font-weight: bold;
}

.empList .list-compressed-title.win-type-body {
    line-height: 1;
}

#Seriennummer {
    text-align: right;
    width: 118%;
}
