
.sketchfragmenthost {
    width: 100%;
    height: calc(100% - 190px);
    z-index: 4;
}


.listfragmenthost {
    width: 100%;
    height: 190px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}
