#genDataQuestions .win-itemcontainer .win-itembox,
#genDataQuestions .win-listview .win-itembox {
    background-color: transparent;
}

.genDataQuestions .contentarea {
    overflow-y: hidden !important;
}

.genDataQuestions .content-header {
    height: auto !important;
    min-height: 48px;
}

.genDataQuestions .master-list-header {
    min-height: 40px;
    padding-left: 0;
}

.genDataQuestions .master-list-header {
    height: auto !important;
}

#genDataQuestions .list-header {
    font-weight: bold;
}

.genDataQuestions .grayed-out {
    opacity: 0.6;
}

.genDataQuestions .semibold {
    font-weight: 600;
}

/* Styles used for the custom layout */
.listView .genDataQuestionsLayout {
    position: static;
}

    .listView .genDataQuestionsLayout .win-surface {
        margin-left: 0;
    }

#genDataQuestions .win-container {
    margin: 0;
}

#genDataQuestions .win-item,
#genDataQuestions .list-header {
    padding-left: 26px;
    padding-right: 26px;
    min-height: 40px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #genDataQuestions .win-item,
.view-size-medium #genDataQuestions .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #genDataQuestions .win-item,
.view-size-small #genDataQuestions .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

.genDataQuestions .content-header .master-list-header {
    margin-top: 16px;
}

.genDataQuestions .list-compressed-title.win-type-body {
    line-height: 1;
}

