.genDataQuestions .list-div-left,
.genDataQuestions .list-div-right {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.genDataQuestions .grayed-out {
    opacity: 0.6;
}

.genDataQuestions .semibold {
    font-weight: 600;
}

#genDataQuestions .win-itembox {
    width: 100%;
    min-height: 60px;
}
/* Styles used for the custom layout */
.listView .genDataQuestionsLayout {
    position: static;
}

    .listView .genDataQuestionsLayout .win-surface {
        margin-left: 0;
    }

#genDataQuestions .win-container {
    margin: 0;
}
#genDataQuestions .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}

#genDataQuestions .win-surface {
    margin-top: 0;
    margin-left: 0;
}

#genDataQuestions.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 72px);
}
.view-size-smallest #genDataQuestions .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.genDataQuestions .list-div-left {
    width: 100%
}
#nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
