#mediaList .win-container {
    width: 160px;
    height: 160px;
}
#mediaList .win-surface {
    overflow-y: hidden;
}

#mediaListController .contentarea .win-type-body {
    height: 190px;
    overflow-y: hidden;
}
.mediaList .contentarea .win-type-body .win-listview {
    height: 190px;
}

.mediaList .list-img {
    width: 150px;
    height: 150px;
    display: block;
}

.mediaList .list-svg {
    width: 150px;
    height: 150px;
    display: block;
    background-color: #fff;
}

.mediaList .list-icon {
    width: 150px;
    height: 115px;
    display: block;
}

.mediaList .list-img-item {
    width: 100%;
    height: auto;
    max-height: 150px;
    margin-left: auto;
    margin-top: auto;
}

.mediaList .list-svg-item {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    background-color: #fff;
    margin-left: auto;
    margin-top: auto;
}

.mediaList .list-icon-item {
    margin-left: calc(50% - 40px);
    margin-top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    display: block !important;
}

.mediaList .list-caption-container {
    height: 28px;
    bottom: 0;
    position: absolute;
    display: block;
    background-color: rgba(242, 242, 242, 0.9);
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
}

.mediaList .win-itembox:hover .list-caption-container {
    background-color: rgba(242, 242, 242, 0.8);
}
.mediaList .win-selected .list-caption-container,
.mediaList .win-itembox:active .list-caption-container {
    background-color: rgba(242, 242, 242, 0.6);
}

.cnv-ui-dark .mediaList .list-caption-container {
    background-color: rgba(57, 57, 57, 0.9);
}

.cnv-ui-dark .mediaList .win-itembox:hover .list-caption-container {
    background-color: rgba(57, 57, 57, 0.8);
}
.cnv-ui-dark .mediaList .win-selected .list-caption-container,
.cnv-ui-dark .mediaList .win-itembox:active .list-caption-container {
    background-color: rgba(57, 57, 57, 0.6);
}

.mediaList .win-itembox:active .list-caption-container > .label-color,
.mediaList .win-selected .list-caption-container > .label-color {
    color: #000;
}

.cnv-ui-dark .mediaList .win-itembox:active .list-caption-container > .label-color,
.cnv-ui-dark .mediaList .win-selected .list-caption-container > .label-color {
    color: #fff;
}
