.eventlist .list-div-left,
.eventlist .list-div-right {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.eventlist .grayed-out {
    opacity: 0.6;
}

.eventlist .semibold {
    font-weight: 600;
}

#eventlist .win-itembox {
    width: 100%;
    min-height: 60px;
}
/* Styles used for the custom layout */
.listView .eventlistLayout {
    position: static;
}

    .listView .eventlistLayout .win-surface {
        margin-left: 0;
    }

#eventlist .win-container {
    margin: 0;
}
#eventlist .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}

#eventlist .win-surface {
    margin-top: 0;
    margin-left: 0;
}

#eventlist.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 72px);
}
.view-size-smallest #eventlist .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
#eventlist .list-div-left {
    width: 100%
}
#eventlist .list-compressed {
    width: calc(100% - 100px)
}
#nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
