#eventList .win-itemcontainer .win-itembox,
#eventList .win-listview .win-itembox {
    background-color: transparent;
}
.eventList .contentarea {
    overflow-y: hidden !important;
}
.eventList .content-header {
    height: auto !important;
    min-height: 48px;
}
.eventList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}
.eventList .master-list-header {
    height: auto !important;
}
.eventList .master-list-header.list-compact-only {
    padding-top: 48px;
}
#eventList .list-header {
    font-weight: bold;
    display: flex;
}
#eventList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

.eventList .grayed-out {
    opacity: 0.6;
}
.eventList .semibold {
    font-weight: 600;
}
.eventList .list-compressed {
    width: 100%;
}
/* Styles used for the custom layout */
#eventList .win-container {
    margin: 0;
}
#eventList .win-container.win-disabled {
    opacity: 0.4;
}

#eventList .win-item,
#eventList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #eventList .win-item,
.view-size-medium #eventList .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #eventList .win-item,
.view-size-small #eventList .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest #eventList .win-item,
.view-size-smallest #eventList .list-header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.eventList .content-header .master-list-header {
    margin-top: 16px;
}

.view-size-smallest .eventList .content-header .field_line {
    display: none !important;
}

.eventList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #eventList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .eventList .list-div-left,
.view-size-smallest .eventList .list-div-right {
    width: 100%;
    margin: 0;
}
#eventList #nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
#eventList .list-field-small-relative {
    text-align: left;
    width: calc(100% - 260px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#eventList .list-field-small-fixed {
    width: 110px;
}