body {
}
#Ordernumber {
    width: 150px;
}
#CustomerID {
    margin-left: 78px;
}
#CustomerIDIN {
    margin-left: 38px;
    width: 150px;
}
/*#exibitorcategory {
    margin-left: 38px;
}*/
/*#exhibitorcategorylabel {
    position: relative;
    left: 375px;
    height: 4px;
}*/
