.countrysindustries-chart-top-container {
    height: 50px;
    width: 100%;
}

.countrysindustries-chart-top-text-container {
    height: 50px;
    width: 100%;
    float: left;
    font-weight: bold;
}
.countrysindustries-chart-top-combo-container {
    height: 50px;
    width: 30%;
    float: right;
}

.countrysindustries-chart-container {
    height: 93% !important;
    width: 98%;
}
#worldcontainer {
    position: relative;
}
#container {
    margin-top: 5px;
    height: 320px !important;
    width: 100%;
    position: relative;
}
#timedropdown {
    width: 32% !important;
    height: 50px;
}
.diaCountrysIndustries select {
    /* Reset Select */
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    font-size: 15px;
    font-weight: bold;
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: darkgray;
    background-image: none;
    cursor: pointer;
}
.diaCountrysIndustries .win-dropdown {
    width: 33.3% !important;
    height: 50px;
    float: left;
    position: relative;
    display: flex;
    border-radius: .25em;
    overflow: hidden;
    margin: 0;
}
.diaCountrysIndustries .win-dropdown :after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}
.diaCountrysIndustries.win-dropdown:hover:after {
        color: #f39c12;
    }
#daydropdown {
    width: 33% !important;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: darkgray;
    outline: 0;
    border: 0;
    box-shadow: none;
    font-family: Open Sans;
}