<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="diaCountrysIndustries.css" rel="stylesheet" />
    <script type="text/javascript" src="diaCountrysIndustriesService.js"></script>
    <script type="text/javascript" src="diaCountrysIndustriesController.js"></script>
    <script type="text/javascript" src="diaCountrysIndustries.js"></script>
</head>
<body class="win-type-body">
    <div class="diaCountrysIndustries fragment">
        <div id="diaCountrysIndustriesController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="countrysindustries-chart-top-container">
                        <select id="criteriadropdown"
                                class="win-dropdown"
                                data-win-control="WinJS.UI.Repeater"
                                data-win-bind="value: criteriaMain Binding.Mode.twoway; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone">
                            <option data-win-bind="value: CriterionID; textContent: CriterionText"></option>
                        </select>
                        <div style="display: none;">
                            <div id="mydiaCountrysIndustriesElement"></div>
                        </div>
                        <select id="countrydropdown"
                                class="win-dropdown"
                                data-win-control="WinJS.UI.Repeater"
                                data-win-bind="value: criteriaCountry Binding.Mode.twoway; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone">
                            <option data-win-bind="value: LandID; textContent: Land"></option>
                        </select>
                        <div class="countrysindustries-chart-top-container-tooltip">
                            <div class="list-symbol-ID">
                                <button data-win-bind="name: information" class="action-image" data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydiaCountrysIndustriesElement}"></button>
                            </div>
                            <div style="display: none;">
                                <div id="mydiaCountrysElement2"></div>
                            </div>
                        </div>
                    </div>
                    <!--<div id="container"></div>-->
                    <div class="countrysindustries-chart-container">
                        <canvas id="countrysIndustriesChart"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>