#genFragEvents .win-itemcontainer .win-itembox,
#genFragEvents .win-listview .win-itembox {
    background-color: transparent;
}
.genFragEvents .list-header {
    padding-left: 27px;
    font-weight: bold;
}
.genFragEvents .list-field-small-fixed {
    width: 200px;
    height: 32px;
    float: left;
}
.genFragEvents .list-field-big-variable {
    width: calc(100% - 640px);
    height: 32px;
    float: left;
    padding-top: 8px;
    padding-left: 8px;
}
.genFragEvents .row-bkg-gray {
    width: auto;
}

/* listview viewport will be resized by page controller! */
#genFragEvents.listview {
    width: 100%;
    height: 100%;
    overflow: auto
}

/* listview viewport will be resized by page controller! */
#genFragEvents .win-viewport {
    overflow-y: hidden
}

#genFragEvents .list-compressed {
    width: 100%;
}

/* Styles used for the custom layout */
#genFragEvents .win-container {
    margin: 0;
}

#genFragEvents .win-item,
#genFragEvents .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}


.view-size-medium #genFragEvents .win-item,
.view-size-medium #genFragEvents .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #genFragEvents .win-item,
.view-size-small #genFragEvents .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

#genFragEvents {
    position: relative;
    overflow: auto;
    max-height: 400px; /* Set a maximum height or adjust as needed */
}
.pagecontrol:not(.view-size-bigger) #genFragEvents .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}
.genFragEvents button {
    position: relative;
    top: -8px;
    background-color: whitesmoke;
    width: 200px;
    height: 30px;
    border: none;
    color: black;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-weight: bold;
}
.genFragEvents button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}
