<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="genFragEvents.css" rel="stylesheet" />
    <script type="text/javascript" src="genFragEventsService.js"></script>
    <script type="text/javascript" src="genFragEventsController.js"></script>
    <script type="text/javascript" src="genFragEvents.js"></script>
</head>
<body class="win-type-body">
    <div class="genFragEvents fragment">
        <div id="genFragEventsController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="headerFooterPlaceholder">
                        <div class="list-header">
                            <div class="list-landscape-only">
                                <div class="list-field-big-variable win-type-ellipsis" onclick="AppBar.handleEvent('click', 'clickOrderEvent', event)" data-win-res="{textContent: 'genFragEvents.event'}"></div>
                                <div class="list-field-small-fixed win-type-ellipsis" data-win-res="{textContent: 'genFragEvents.eventstart'}"></div>
                                <div class="list-field-small-fixed win-type-ellipsis" data-win-res="{textContent: 'genFragEvents.eventaktiv'}"></div>
                                <!--<div class="list-field-small-fixed win-type-ellipsis" data-win-res="{textContent: 'genFragEvents.eventinfomail'}"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="data-template" data-win-control="WinJS.Binding.Template">
                        <div class="list-landscape-only">
                            <div class="row-bkg-gray"
                                 data-win-bind="style.display: index Binding.Converter.oddToDisplay"></div>
                            <div class="list-field-big-variable win-type-ellipsis"
                                 data-win-bind="textContent: VeranstaltungName"></div>
                            <div class="list-field-small-fixed win-type-ellipsis"
                                 data-win-bind="textContent: EndStartDatum"></div>
                            <div class="list-field-small-fixed">
                                <!--<span data-win-bind="style.display: UserStatusID Binding.Converter.toDisplay">X</span>
                                <button data-win-bind="style.display: AktivButtonShowFlag Binding.Converter.toDisplay"
                                    data-win-res="{textContent: 'genFragEvents.eventsetactive'}" 
                                    onclick="AppBar.handleEvent('click', 'clickChangeEvent', event)"></button>
                                <span data-win-bind="style.display: UserStatusShowFlag Binding.Converter.toDisplay; textContent: UserStatus"></span>-->
                                <button class="list-button-left win-button"
                                        data-win-res="{textContent: 'genDataEmployee.activebtntxt'}"
                                        data-win-bind="style.display: activebtndisplay Binding.Converter.toDisplay"
                                        onclick="AppBar.handleEvent('click', 'clickBtnActive', event)"></button>
                                <button class="list-button-left win-button"
                                        data-win-res="{textContent: 'genDataEmployee.targetbtntxt'}"
                                        data-win-bind="style.display: targetbtndisplay Binding.Converter.toDisplay"
                                        onclick="AppBar.handleEvent('click', 'clickBtnResetTarget', event)"></button>
                                <button class="list-button-left win-button"
                                        data-win-res="{textContent: 'genDataEmployee.inactivebtntxt'}"
                                        data-win-bind=" style.display: inactivebtndisplay Binding.Converter.toDisplay"
                                        onclick="AppBar.handleEvent('click', 'clickBtnInactive', event)"></button>
                            </div>
                            <!--<div class="list-field-small-fixed win-type-ellipsis"
                                 data-win-bind="style.display: InfoMailButtonShowFlag Binding.Converter.toDisplay">
                                <button 
                                    data-win-res="{textContent: 'genFragEvents.eventsendinfomail'}"
                                    onclick="AppBar.handleEvent('click', 'clickBtnSendInfoMail', event)"></button>
                            </div>-->
                        </div>
                        <div class="list-portrait-only">
                            <div class="row-separator"></div>
                            <div class="list-div-left">
                                <div class="list-compressed">
                                    <!--list-voucherAdministrationList-->
                                    <span class="list-compressed-title win-type-subtitle win-type-ellipsis"
                                          data-win-bind="textContent: VeranstaltungName"></span>
                                    <span class="list-compressed-title win-type-ellipsis"
                                          data-win-bind="textContent: EndStartDatum"></span>
                                    <button data-win-bind="style.display: AktivButtonShowFlag Binding.Converter.toDisplay"
                                            data-win-res="{textContent: 'genFragEvents.eventsetactive'}" 
                                            onclick="AppBar.handleEvent('click', 'clickChangeEvent', event)"></button>
                                    <span data-win-bind="style.display: UserStatusShowFlag Binding.Converter.toDisplay; textContent: UserStatus"></span>
                                    <!--<button data-win-bind="style.display: InfoMailButtonShowFlag Binding.Converter.toDisplay"
                                        data-win-res="{textContent: 'genFragEvents.eventsendinfomail'}"></button>-->
                                    <button class="list-button-left win-button"
                                            data-win-res="{textContent: 'genDataEmployee.activebtntxt'}"
                                            data-win-bind="style.display: activebtndisplay Binding.Converter.toDisplay"
                                            onclick="AppBar.handleEvent('click', 'clickBtnActive', event)"></button>
                                    <button class="list-button-left win-button"
                                            data-win-res="{textContent: 'genDataEmployee.targetbtntxt'}"
                                            data-win-bind="style.display: targetbtndisplay Binding.Converter.toDisplay"
                                            onclick="AppBar.handleEvent('click', 'clickBtnResetTarget', event)"></button>
                                    <button class="list-button-left win-button"
                                            data-win-res="{textContent: 'genDataEmployee.inactivebtntxt'}"
                                            data-win-bind=" style.display: inactivebtndisplay Binding.Converter.toDisplay"
                                            onclick="AppBar.handleEvent('click', 'clickBtnInactive', event)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="genFragEvents"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                            header : select('.list-header'),
                            itemTemplate: select('.data-template')
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
