
.contactResultsList .scroll-line {
    overflow-x: auto;
    overflow-y: hidden;
}

.contactResultsList * {
    box-sizing: border-box;
}

.contactResultsList table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.contactResultsList td, 
.contactResultsList th {
    padding: 5px 15px;
    text-align: left;
    height: 35px;
}

.contactResultsList table,
.contactResultsList th,
.contactResultsList td {
    border: 1px solid #000;
}

.contactResultsList .table-header {

}

.contactResultsList .table-body tr:hover {
    background: #d8613e;
}
.contactResultsList .counter {
    margin-left: 5%;
}
