
.contactResultsList .scroll-line {
    overflow-x: auto;
    overflow-y: hidden;
}

.contactResultsList * {
    box-sizing: border-box;
}

.contactResultsList table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.contactResultsList td, 
.contactResultsList th {
    padding: 5px 15px;
    text-align: left;
    height: 35px;
}

.contactResultsList table {
    border: 1px solid grey;
}
.contactResultsList td,
.contactResultsList th {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.contactResultsList .table-body tr:hover {
    background: #f8f9fb;
}
.contactResultsList #counter {
    margin-left: 25px;
}
.contactResultsList table,
.contactResultsList tr,
.contactResultsList #status {
    border-right: 0px !important;
}
.contactResultsList table,
.contactResultsList tr,
.contactResultsList #datacheckbox {
    border-left: 0px !important;
}