/*
    margins/paddings for all screens
*/
/************************************************
LS Portal Anleitung für die Anwendung STAMMDATEN
************************************************/

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: transparent;
}

.sdHelpMain {
    display: block;
    overflow: auto;
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 60%;
}

@media screen and (max-width: 1024px) {
    .sdHelpMain {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .sdHelpMain {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .sdHelpMain {
        width: 96%;
    }
}