.visitor-chart-top-container {
    height: 50px;
    width: 100%;
}

.visitor-chart-top-text-container {
    height: 50px;
    width: 50%;
    float: left;
    font-weight: bold;
    display: table;
}
.visitor-chart-top-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.visitor-chart-top-combo-container {
    height: 50px;
    width: 50%;
    float: right;
    position: relative;
}
#showHourDay {
    margin-left: 20%;
    top: 25%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.visitor-chart-container {
    height: 240px;
    width: 100%;
}
.diaVisitors select {
    /* Reset Select */
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    font-size: 15px;
    font-weight: bold;
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: darkgray;
    background-image: none;
    cursor: pointer;
}

.diaVisitors .win-dropdown {
    width: 50% !important;
    height: 50px;
    float: right;
    position: relative;
    display: flex;
    border-radius: .25em;
    overflow: hidden;
    margin: 0;
}
.diaVisitors .win-dropdown :after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}
.diaVisitors #daydropdown {
    width: 49.5% !important;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: darkgray;
    outline: 0;
    border: 0;
    box-shadow: none;
    font-family: Open Sans;
}