.gridtitlet10user {
    max-width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
}
.gridtitletextt10user {
    display: flex;
    padding-left: 15px;
    padding-top: 3px;
    font-weight: bolder;
    font-size: 18px;
}
#employeeChart {
    max-height: 280px;
}
#employeeChart {
    width: 85%;
    margin-left: 5%;
}
.tooltip {
    background-color: white;
}