.siteeventsImport .scroll-line {
    overflow-x: auto;
    overflow-y: auto;
    height: 70%;
}

.siteeventsImport table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}

.siteeventsImport td,
.siteeventsImport th {
    padding: 5px 15px;
    text-align: left;
    height: 35px;
    max-width: 100%;
    white-space: nowrap;
}

.siteeventsImport table {
    /*border: 1px solid grey;*/
}

.siteeventsImport td {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.siteeventsImport th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.siteeventsImport .table-body tr:hover {
    background: #f8f9fb;
}

.siteeventsImport table,
.siteeventsImport tr,
.siteeventsImport #status {
    border-right: 0px !important;
}

.siteeventsImport table,
.siteeventsImport tr,
.siteeventsImport #datacheckbox {
    border-left: 0px !important;
}



.view-size-medium table {
    border: 0;
    width: 100%;
}

    .view-size-medium table caption {
        font-size: 1.3em;
    }

    .view-size-medium table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .view-size-medium table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .view-size-medium table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

        .view-size-medium table td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(title);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        .view-size-medium table td:last-child {
            border-bottom: 0;
        }
