<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="visitorFlowOverview.css" rel="stylesheet" />
    <script type="text/javascript" src="visitorFlowOverviewService.js"></script>
    <script type="text/javascript" src="visitorFlowOverviewController.js"></script>
    <script type="text/javascript" src="visitorFlowOverview.js"></script>
</head>
<body class="win-type-body">
    <div class="visitorFlowOverview fragment">
        <div id="startContactsController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitleoverview">
                        <span class="gridtitlevisitorflowoverviewtext" data-win-res="{textContent: 'visitorflowoverview.title'}"></span>
                    </div>
                    <div class="field_line">
                            <span class="label win-type-caption" data-win-res="{textContent: 'visitorflowoverview.areacombo'}"></span>
                            <select id="entextSelect"
                                    class="input_field win-dropdown"
                                    data-win-control="WinJS.UI.Repeater"
                                    data-win-bind="value: visitordata.CR_V_BereichVIEWID Binding.Mode.twoway">
                                <option data-win-bind="value: CR_V_BereichVIEWID; textContent: TITLE"></option>
                            </select>
                    </div>
                    <br />
                    <div class="visitorFlowOverview-circle-container">
                        <span class="dot"></span>
                    </div>
                    <div class="visitorFlowOverview-numbers">
                        <div class="numbers">
                            <!--Inside anstatt ZutritteAlle Stand 23.03.2021-->
                            <span id="zutrittealle" data-win-bind="textContent: visitordata.Inside"></span><span id="trennsym"> / </span><span id="limit" data-win-bind="textContent: visitordata.Limit"></span><br />
                            <span id="bottomtext" data-win-res="{textContent: 'visitorflowoverview.bottomtext'}"></span><br />
                            <span id="offsettext" data-win-res="{textContent: 'visitorflowoverview.offsettext'}"></span><span id="offsetnumber" data-win-bind="textContent: visitordata.OffsetBereich"></span>
                        </div> 
                    </div>

                </div>
            </section>
        </div>
    </div>
</body>
</html>