#seriesList .win-itemcontainer .win-itembox,
#seriesList .win-listview .win-itembox {
    background-color: transparent;
}

.seriesList .contentarea {
    overflow-y: hidden !important;
}

.seriesList .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}

.seriesList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}

.seriesList .master-list-header {
    height: auto !important;
}

.seriesList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#seriesList .list-header {
    font-weight: bold;
}

.seriesList .grayed-out {
    opacity: 0.6;
}

.seriesList .semibold {
    font-weight: 600;
}

/* Styles used for the custom layout */
#seriesList .win-container {
    margin: 0;
}

#seriesList .win-item,
#seriesList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    min-height: 40px;
    width: calc(100% - 52px);
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #seriesList .win-item,
.view-size-medium #seriesList .list-header {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
}

.view-size-small #seriesList .win-item,
.view-size-small #seriesList .list-header {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

.view-size-smallest #seriesList .win-item,
.view-size-smallest #seriesList .list-header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.seriesList .content-header .master-list-header {
    margin-top: 16px;
}

.view-size-smallest .seriesList .content-header .field_line {
    display: none !important;
}

.seriesList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #seriesList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .seriesList .list-div-left,
.view-size-smallest .seriesList .list-div-right {
    width: 100%;
    margin: 0;
}

#seriesList .list-compact-only .list-div-left > span {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

