<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="startQuestions.css" rel="stylesheet" />
    <script type="text/javascript" src="startQuestionsService.js"></script>
    <script type="text/javascript" src="startQuestionsController.js"></script>
    <script type="text/javascript" src="startQuestions.js"></script>
</head>
<body class="win-type-body">
    <div class="startQuestions fragment">
        <div id="startQuestionsController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitlequestions">
                        <span class="gridtitletextquestions" data-win-res="{textContent: 'start.gridtitlequestions'}"></span>
                    </div>
                    <div id="questionsgridquestionbuttons">
                        <!--<div class="tile-navigationcolor">-->
                            <div class="questionButtonList-template"
                                 data-win-control="WinJS.Binding.Template" style="display: none">
                            <div data-win-bind="style.display: index Binding.Converter.oddToDisplay"></div>
                                <div class="qbutton"
                                     data-win-bind="style.backgroundColor: buttonColor; style.color: buttonTitle; textContent: Question; title: FragenText;"></div>
                            </div>
                        <!--</div>-->
                        <div id="questionButtonList"
                             class="listview win-selectionstylefilled"
                             data-win-control="WinJS.UI.ListView"
                             data-win-options="{itemTemplate: select('.questionButtonList-template')}">
                        </div>
                    </div>
                    <div id="answerChart" class="answer-bar-chart"></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>