<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="startContacts.css" rel="stylesheet" />
    <script type="text/javascript" src="startContactsService.js"></script>
    <script type="text/javascript" src="startContactsController.js"></script>
    <script type="text/javascript" src="startContacts.js"></script>
</head>
<body class="win-type-body">
    <div class="startContacts fragment">
        <div id="startContactsController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitlecontacts">
                        <span id="gridtitlecontactstext" data-win-res="{textContent: 'start.gridtitlecontacts'}"></span>
                    </div>
                    <div class="startContact-circle-container">
                        <span id="summary" class="win-type-caption center" data-win-res="{textContent: 'start.summary'}"></span><br />
                        <span id="anzkontakte" class="highlight" data-win-bind="textContent: startcontactdata.AnzKontakte" onclick="AppBar.handleEvent('click', 'clickListAllContacts', event)"></span><br />
                        <span id="gridtitlecontacts" class="win-type-caption center" data-win-res="{textContent: 'start.gridtitlecontacts'}"></span>
                    </div>
                    <div class="startContact-numbers">
                        <div class="contacts-modified">
                            <div class="barcode-container">
                                <!--<img src="../../images/barcode.svg" style="width:50px;height:50px;">-->
                                <div class="app-logo" id="barcode-qr"></div>
                                <br />
                                <span class="highlight" data-win-bind="textContent: startcontactdata.AnzBarcode" data-win-res="{title: 'start.buttonBarcode'}" onclick="AppBar.handleEvent('click', 'clickListBarcodeContacts', event)"></span>
                            </div>
                            <div class="businesscards-container">
                                <!--<img src="../../images/id_card.svg" style="width: 50px; height: 50px;">-->
                                <div class="app-logo" id="id_card"></div>
                                <br />
                                <span class="highlight" data-win-bind="textContent: startcontactdata.AnzVisitenkarte" data-win-res="{title: 'start.buttonCamera'}" onclick="AppBar.handleEvent('click', 'clickListBusinessCardContacts', event)"></span>
                            </div>
                            <div class="manually-container">
                                <!--<img src="../../images/pencil.svg" style="width: 50px; height: 50px;">-->
                                <div class="app-logo" id="pencil"></div>
                                <br />
                                <span class="highlight" data-win-bind="textContent: startcontactdata.AnzManuell" data-win-res="{title: 'start.buttonManually'}" onclick="AppBar.handleEvent('click', 'clickListManuellContacts', event)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>