.startContacts .gridtitlecontacts {
    display: flex;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}
.startContacts #gridtitlecontactstext {
    font-size: 18px;
    margin-left: 10px;
}
.startContacts .startContact-circle-container {
    float: left;
    margin-top: 50px;
    margin-bottom: 29px;
    margin-left: 15%;
    background-color: transparent; /*hintergrundfarbe*/
    width: 200px; /*breite*/
    height: 200px;
    border-radius: 50%; /*Abgerundete Ecken, in diesem Beispiel tun die 50% ein Kreis darstellen*/
    border: 1px solid rgba(0, 0, 0, 0.4); /*rahmenfarbe*/
    text-align: center;
}
.startContacts .startContact-numbers {
    margin-top: 7px;
}
.startContacts .contacts-modified {
    float: right;
    width: calc(30% - 15px); /*calc(37% - 1px)*/
}
.startContacts .center {
    display: block;
    width: 100px;
    height: 5px;
    margin: auto;
    margin-top: 42px;
}
.startContacts #anzkontakte {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 1px;
}
.startContacts #summary {
    margin-top: 38px;
    font-size: 20px;
    font-weight: bolder;
}
.startContacts #gridtitlecontacts {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.startContacts .barcode-container {
    float: left;
    margin-top: 13px;
    width: 95px;
    text-align: center;
    font-weight: bolder;
}
.startContacts .businesscards-container {
    float: left;
    margin-top: 20px;
    width: 95px;
    text-align: center;
    font-weight: bolder;
}
.startContacts .manually-container {
    float: left;
    margin-top: 20px;
    width: 95px;
    text-align: center;
    font-weight: bolder;
}
.view-size-medium {
    
}
.view-size-small .startContacts  .contacts-modified {
    float: left;
    width: calc(100% - 1px);
}
.view-size-small .startContacts  .barcode-container {
    width: 33.3%;
    margin-top: 0px;
}
.view-size-small .startContacts  .businesscards-container {
    width: 33.3%;
    margin-top: 0px;
}
.view-size-small .startContacts  .manually-container {
    width: 33.3%;
    margin-top: 0px;
}
.view-size-small .startContacts  .startContact-circle-container {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25%;
}
.view-size-medium .startContacts.contacts-modified {
    float: left;
    width: calc(100% - 1px);
}

.view-size-medium .startContacts.barcode-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-medium .startContacts.businesscards-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-medium .startContacts.manually-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-medium .startContacts.startContact-circle-container {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.view-size-bigger .startContacts .contacts-modified {
    float: left;
    width: calc(100% - 1px);
}

.view-size-bigger .startContacts .barcode-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-bigger .startContacts .businesscards-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-bigger .startContacts .manually-container {
    width: 33.3%;
    margin-top: 0px;
}

.view-size-bigger .startContacts .startContact-circle-container {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: calc(50% - 101px);
}
.startContacts .highlight:hover {
    background-color: #d3d3d3;
}
@media only screen and (max-width: 1360px) {
    .startContacts .contacts-modified {
        float: left;
        width: calc(100% - 1px);
    }

    .startContacts .barcode-container {
        width: 33.3%;
        margin-top: 0px;
    }

    .startContacts .businesscards-container {
        width: 33.3%;
        margin-top: 0px;
    }

    .startContacts .manually-container {
        width: 33.3%;
        margin-top: 0px;
    }

    .startContacts .startContact-circle-container {
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: calc(50% - 101px);
    }
}