<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="diaIndustries.css" rel="stylesheet" />
    <script type="text/javascript" src="diaIndustriesService.js"></script>
    <script type="text/javascript" src="diaIndustriesController.js"></script>
    <script type="text/javascript" src="diaIndustries.js"></script>
</head>
<body class="win-type-body">
    <div class="diaIndustries fragment">
        <div id="diaIndustriesController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
               <div class="contentarea win-type-body">
                <div class="industries-chart-top-container">
                    <!--<div data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydiaCountrysIndustriesElement}">-->
                        <select id="criteriadropdown"
                                class="win-dropdown"
                                data-win-control="WinJS.UI.Repeater"
                                data-win-bind="value: criteriaMain Binding.Mode.twoway; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone">
                            <option data-win-bind="value: CriterionID; textContent: CriterionText"></option>
                        </select>
                    <!--</div>-->
                    <div class="industries-chart-top-container-tooltip" data-html2canvas-ignore="true">
                        <div class="list-symbol-ID">
                            <button data-win-bind="name: information" class="action-image" data-win-control="WinJS.UI.Tooltip" data-win-options="{infotip: true, contentElement: mydiaIndustriesElement2}"></button>
                        </div>
                        <div style="display: none;">
                            <div id="mydiaIndustriesElement2"></div>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="chart-container-block1">
                        <canvas id="industriesYearChart1"></canvas>
                    </div>
                    <div class="chart-container-block2">
                        <canvas id="industriesYearChart2"></canvas>
                    </div>
                    <div class="chart-container-block3">
                        <canvas id="industriesYearChart3"></canvas>
                    </div>
                    <div class="chart-container-block4">
                        <canvas id="industriesYearChart4"></canvas>
                    </div>
                </div>
                <div class="chart-container-surpreme" data-win-bind="style.display: isSupreme Binding.Converter.toDisplay">
                    <div class="chart-container-block5">
                        <canvas id="industriesYearChart5"></canvas>
                    </div>
                    <div class="chart-container-block6">
                        <canvas id="industriesYearChart6"></canvas>
                    </div>
                    <div class="chart-container-block7">
                        <canvas id="industriesYearChart7"></canvas>
                    </div>
                    <div class="chart-container-block8">
                        <canvas id="industriesYearChart8"></canvas>
                    </div>
                </div>
              </div>
            </section>
        </div>
    </div>
</body>
</html>
