/*
#clientManagementSearchList .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}
*/
.clientManagementSearchList .win-itemcontainer .win-itembox,
.clientManagementSearchList .win-listview .win-itembox {
    background-color: transparent;
}

.clientManagementSearchList .contentarea {
    overflow-y: hidden !important;
}

.clientManagementSearchList .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}

.clientManagementSearchList .master-list-header {
    height: auto !important;
}

.clientManagementSearchList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#clientManagementSearchList .win-viewport {
    overflow-x: auto;
}
.view-size-medium-small #clientManagementSearchList .win-viewport {
    overflow-x: hidden;
}

.pagecontrol:not(.view-size-bigger) #clientManagementSearchList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#clientManagementSearchList .list-header {
    font-weight: bold;
    display: flex;
    height: auto;
}

#clientManagementSearchList .list-header-columns {
    height: auto;
}

#clientManagementSearchList .list-header-columns > .order-asc::after {
    content: " \25b2";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}
#clientManagementSearchList .list-header-columns > .order-desc::after {
    content: " \25bc";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}

#clientManagementSearchList .win-headercontainer,
#clientManagementSearchList .win-surface,
#clientManagementSearchList .win-footercontainer {
    min-width: 1766px;
}

.view-size-medium-small #clientManagementSearchList .win-headercontainer,
.view-size-medium-small #clientManagementSearchList .win-surface,
.view-size-medium-small #clientManagementSearchList .win-footercontainer {
    min-width: inherit;
}

/* Styles used for the custom layout */
.listView .clientManagementSearchListLayout {
    position: static;
}

    .listView .clientManagementSearchListLayout .win-surface {
        margin-left: 0;
    }


#clientManagementSearchList .win-container {
    margin: 0;
}
/*
#clientManagementSearchList .win-item,
.clientManagementSearchList .list-header-columns {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#clientManagementSearchList .win-item,
#clientManagementSearchList .list-header,
#clientManagementSearchList .list-footer {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
}


#clientManagementSearchList .row-bkg {
    display: inline-block;
}


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #clientManagementSearchList .row-bkg {
    display: none;
}
.view-size-bigger #clientManagementSearchList .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #clientManagementSearchList .win-item,
.view-size-bigger #clientManagementSearchList .list-header,
.view-size-bigger #clientManagementSearchList .list-footer {
}

.view-size-bigger .action-image-right {
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #clientManagementSearchList .win-item,
.view-size-medium #clientManagementSearchList .list-header,
.view-size-medium #clientManagementSearchList .list-footer {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-medium-small #clientManagementSearchList .win-item,
.view-size-medium-small .clientManagementSearchList .list-header,
.view-size-medium-small #clientManagementSearchList .list-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #clientManagementSearchList .win-item,
.view-size-small .clientManagementSearchList .list-header,
.view-size-small #clientManagementSearchList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#konanz {
    font-size: small;
}

.view-size-smallest #clientManagementSearchList .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-smallest .clientManagementSearchList .list-div-left {
    width: 100%;
    margin: 0;
}

.view-size-bigger #clientManagementSearchList .list-portrait-only,
.view-size-medium-small #clientManagementSearchList .list-landscape-only {
    display: none;
}
.view-size-medium-small #clientManagementSearchList .list-portrait-only {
    display: block;
}

#clientManagementSearchList .list-landscape-only > div:not(.row-bkg-gray):not(:last-child) {
    border-right-style: solid;
    border-right-color: gray;
    border-right-width: 1px;
}

#clientManagementSearchList .wrap-text {
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: normal;
}

#clientManagementSearchList .list-field-small-fixed,
#clientManagementSearchList .list-field-big-fixed {
    line-height: 1;
    padding: 8px;
}

#clientManagementSearchList .list-field-small-fixed > span,
#clientManagementSearchList .list-field-big-fixed > span {
    display: inline-block;
    height: auto;
    width: auto;
}

#clientManagementSearchList .list-field-big-fixed > span {
    min-width: 300px;
}

.clientManagementSearchList #nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
