.startCountrys .contentarea {
    overflow-y: hidden;
}

.startCountrys .gridtitlecountries {
    display: flex;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.startCountrys #gridtitlecountriestext {
    font-size: 18px;
    margin-left: 10px;
}

.startCountrys .worldbutton {
    display: inline;
    top: 5px;
    height: 25px;
    text-align: center;
    font-weight: 900;
    float: left;
}

.startCountrys .worldbutton:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.view-size-bigger .startCountrys .worldbutton {
    width: calc(15% - 1px);
}

.view-size-medium .startCountrys .worldbutton {
    width: calc(15% - 1px);
}

.view-size-medium-small .startCountrys #worldbuttoncontainer {
    display: none;
    visibility: hidden;
}

.startCountrys .start-map-chart {
    height: 250px !important;
}

.startCountrys #worldcontainer {
    position: relative;
}
