<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="startCountrys.css" rel="stylesheet" />
    <script type="text/javascript" src="startCountrysService.js"></script>
    <script type="text/javascript" src="startCountrysController.js"></script>
    <script type="text/javascript" src="startCountrys.js"></script>
</head>
<body class="win-type-body">
    <div class="startCountrys fragment">
        <div id="startCountrysController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitlecountries">
                        <span id="gridtitlecountriestext" data-win-res="{textContent: 'start.gridtitlecountries'}"></span>
                    </div>
                    <div id="worldbuttoncontainer">
                        <div class="worldbutton"
                             id="worldbutton1"
                             data-win-res="{textContent: 'start.northamerica'}"
                             onclick="AppBar.handleEvent('click', 'clickGoToNorthAmerica', event)">
                        </div>
                        <div class="worldbutton"
                             id="worldbutton2"
                             data-win-res="{textContent: 'start.europe'}"
                             onclick="AppBar.handleEvent('click', 'clickGoToEurope', event)">
                        </div>
                        <div class="worldbutton"
                             id="worldbutton3"
                             data-win-res="{textContent: 'start.africa'}"
                             onclick="AppBar.handleEvent('click', 'clickGoToAfrica', event)">
                        </div>
                        <div class="worldbutton"
                             id="worldbutton4"
                             data-win-res="{textContent: 'start.asia'}"
                             onclick="AppBar.handleEvent('click', 'clickGoToAsia', event)">
                        </div>
                        <div class="worldbutton"
                             id="worldbutton5"
                             data-win-res="{textContent: 'start.world'}"
                             onclick="AppBar.handleEvent('click', 'clickGoToWorld', event)">
                        </div>
                    </div>
                    <div id="worldcontainer" class="start-map-chart text-textcolor"></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>