#livestartdate {
    width: 145px !important;
}

.input_field_toggle_parent {
    margin-top: 10px !important;
}

#requireReg .win-toggleswitch-header {
    display: none;
}
#acceptRec .win-toggleswitch-header {
    display: none;
}
#showAllowAudio .win-toggleswitch-header {
    display: none;
}
#showAllowVideo .win-toggleswitch-header {
    display: none;
}
#hideSilentVideos .win-toggleswitch-header {
    display: none;
}
#speakerVideosPinned .win-toggleswitch-header {
    display: none;
}
#showNoMemberList .win-toggleswitch-header {
    display: none;
}
#listOnlyModerators .win-toggleswitch-header {
    display: none;
}
#showShowNames .win-toggleswitch-header {
    display: none;
}
#showRecordSession .win-toggleswitch-header {
    display: none;
}
#showQuestions .win-toggleswitch-header {
    display: none;
}
#publishRecording .win-toggleswitch-header {
    display: none;
}
#showType .win-toggleswitch-header {
    display: none;
}
#showReg .win-toggleswitch-header {
    display: none;
}
#speakerName .win-toggleswitch-header {
    display: none;
}
#speakerFN .win-toggleswitch-header {
    display: none;
}
#speakerImage .win-toggleswitch-header {
    display: none;
}
#speakerTitle .win-toggleswitch-header {
    display: none;
}
#speakerCV .win-toggleswitch-header {
    display: none;
}
#sharedNotes .win-toggleswitch-header {
    display: none;
}
.view-size-medium .toggle {
    float: left;
    display: inline-block;
    position: relative;
    top: 3px;
    width: 50%;
}
.view-size-small .toggle {
    float: left;
    display: inline-block;
    position: relative;
    top: 3px;
    width: 78%;
}
.toggle {
    float: left;
    display: inline-block;
    position: relative;
    top: 3px;
    width: 78%;
}
.input_field_toggle {
    float: none;
}
.toogle_group_header {
    font-size: 20px;
    font-weight: bolder;
    float: left;
    top: 5px;
}
.color-picker-parent {
    min-height: 40px;
}

.color_picker_trigger {
    vertical-align: top;
    height: 28px;
    margin-top: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Window);
    border-radius: 0;
}

/*.toggle-switch-parent {
    height: 40px;
}*/
#isDarkTheme .win-toggleswitch-header,
#individualColors .win-toggleswitch-header,
#shopAppBkg .win-toggleswitch-header,
#inputBorderBottom .win-toggleswitch-header {
    display: none;
}

@media (max-width:899px) {
    .color-picker-parent {
        margin-bottom: 8px;
    }

    .toggle-switch-parent {
        margin-bottom: 8px;
    }
}

@media (max-width:499px) {
    .color-picker-parent {
        margin-bottom: 0;
    }

    .toggle-switch-parent {
        margin-bottom: 0;
    }
}