/**
    userMessages fragment styles
*/
#userMessageList {

}

.view-size-medium #empRoleList {

}

.view-size-small #empRoleList {

}
.userMessage-title {
    width: 100%;
    margin-left: 25px;
    min-height: 12px;
}

.list-role-item {
    width: 100%;
    margin-left: 16px;
    min-height: 12px;
}
#userMessageList.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}