<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="userMessages.css" rel="stylesheet" />
    <script type="text/javascript" src="userMessages.js"></script>
    <script type="text/javascript" src="userMessagesController.js"></script>
    <script type="text/javascript" src="userMessagesService.js"></script>
</head>
<body class="win-type-body">
    <div class="userMessages fragment">
        <div id="userMessagesController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
	                <div class="userMessageList-template"
	                     data-win-control="WinJS.Binding.Template" style="display: none">
		                <div class="message-item">
			                <div class="user-message-item window-color"
			                     data-win-bind="style.display: EmpfaengerID Binding.Converter.toDisplayNone">
                                <div class="user-message-title win-type-caption">
                                    <span data-win-bind="textContent: Login"></span>
                                    <span data-win-bind="textContent: SendTS Binding.Converter.toDateString"></span>
                                </div>
				                <div class="user-message-body" data-win-bind="textContent: InfoText; style.fontWeight: newInfo1Flag Binding.Converter.toBold"></div> <!--; style.fontWeight: newInfo1Flag Binding.Converter.toBold-->
			                </div>
			                <div class="desk-message-item navigation-background-color"
			                     data-win-bind="style.display: EmpfaengerID Binding.Converter.toDisplay">
				                <div class="user-message-title win-type-caption">
					                <span data-win-bind="textContent: SendTS Binding.Converter.toDateString"></span>
				                </div>
				                <div class="user-message-body" data-win-bind="textContent: InfoText; style.fontWeight: newInfo1Flag Binding.Converter.toBold"></div> <!--; style.fontWeight: newInfo1Flag Binding.Converter.toBold-->
			                </div>
		                </div>
	                </div>
                    <div id="userMessageList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                            itemTemplate: select('.userMessageList-template'),
                            tapBehavior: 'none',
                            selectionMode: 'none'
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>