/**
    userMessages fragment styles
*/
#userMessageList {

}

.view-size-medium #empRoleList {

}

.view-size-small #empRoleList {

}


.list-role-item {
    width: 100%;
    min-height: 12px;
}
#userMessageList.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}