#mailingvslist .win-itemcontainer .win-itembox,
#mailingvslist .win-listview .win-itembox {
    background-color: transparent;
}

.mailingVSList .contentarea {
    overflow-y: hidden !important;
}

.mailingVSList .content-header {
    height: auto !important;
    min-height: 48px;
}

.mailingVSList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}

.mailingVSList .master-list-header {
    height: auto !important;
}

.mailingVSList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#mailingvslist .list-header {
    font-weight: bold;
}

.mailingVSList .grayed-out {
    opacity: 0.6;
}

.mailingVSList .semibold {
    font-weight: 600;
}

.mailingVSList .list-compressed {
    width: 100%;
}
/* Styles used for the custom layout */
#mailingvslist .win-container {
    margin: 0;
}

#mailingvslist .win-item,
#mailingvslist .list-header {
    padding-left: 26px;
    padding-right: 26px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #mailingvslist .win-item,
.view-size-medium #mailingvslist .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #mailingvslist .win-item,
.view-size-small #mailingvslist .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest #mailingvslist .win-headercontainer {
    display: none;
}

.view-size-smallest #mailingvslist .win-item,
.view-size-smallest #mailingvslist .list-header {
    width: 100%;
    padding: 0;
    height: 48px;
}

.mailingVSList .content-header .master-list-header {
    margin-top: 16px;
}

.view-size-smallest .mailingVSList .content-header .field_line {
    display: none !important;
}

.mailingVSList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #mailingvslist .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .mailingVSList .list-div-left,
.view-size-smallest .mailingVSList .list-div-right {
    width: 100%;
    margin: 4px;
}

#mailingvslist .list-compact-only .list-div-left > span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}

#mailingvslist .list-field-small-relative {
    text-align: left;
    width: calc(100% - 260px);
    display: inline-block;
    position: relative;
    top: 0;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

#mailingvslist .list-field-small-fixed {
    width: 110px;
}
