.contactResultsCriteria .topcontainer {
    width: 100%;
    border-bottom: 2px solid grey;
}
.contactResultsCriteria #InitPrio {
    width: 250px !important;
}
.contactResultsCriteria #InitTyp {
    width: 250px !important;
}
.contactResultsCriteria #InitPrioLine {
    width: 250px !important;
    margin-left: 50px;
}

.contactResultsCriteria #InitTypLine {
    width: 250px !important;
    margin-left: 50px;
}
.contactResultsCriteria #fullname {
    font-size: 20px;
}