.eventTextUsage .navigationbar-container.navigationbar-container-horizontal {
    z-index: 4;
    width: 100%;
}
/**
    eventTextUsageList styles
*/
#eventTextUsageList .win-selected {
    color: var(--WindowText);
}
#eventTextUsageList.win-listview {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}
#eventTextUsageList .win-viewport {
    margin-bottom: -50px;
    padding-bottom: 50px;
    -ms-overflow-style: none;
}

    #eventTextUsageList .win-viewport::-webkit-scrollbar {
        height: 0 !important;
    }

#eventTextUsageList .win-selectionbackground {
    height: 4px;
    top: 43px;
    left: 0;
    width: 0;
}

#eventTextUsageList .win-itemscontainer {
    width: 100%;
}

#eventTextUsageList .win-container {
    margin: 0;
    padding: 0;
    width: 1px;
}

#eventTextUsageList .navigationbar-text {
    text-transform: none;
}

