/**
    dokVerwendungList styles
*/

#dokVerwendungList .win-selected {
    color: WindowText;
}
#dokVerwendungList.win-listview {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 47px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}
#dokVerwendungList .win-viewport {
    margin-bottom: -50px;
    padding-bottom: 50px;
    -ms-overflow-style: none;
}

#dokVerwendungList .win-viewport::-webkit-scrollbar {
    height: 0 !important;
}

#dokVerwendungList .win-selectionbackground {
    height: 4px;
    top: 43px;
    left: 0;
    width: 0;
}

#dokVerwendungList .win-itemscontainer {
    width: 100%;
}

#dokVerwendungList .win-container {
    margin: 0;
    padding: 0;
    width: 1px;
}

#dokVerwendungList .navigationbar-text {
    text-transform: none;
}

