<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="mailingProductLine.css" rel="stylesheet" />
    <script type="text/javascript" src="mailingProductLineService.js"></script>
    <script type="text/javascript" src="mailingProductLineController.js"></script>
    <script type="text/javascript" src="mailingProductLine.js"></script>
</head>
<body class="win-type-body">
    <div class="mailingProductLine fragment">
        <div id="mailingProductLineController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="mailingProductLineList-template"
                         data-win-control="WinJS.Binding.Template" style="display: none">
                        <div class="list-role-item">
                            <label class="list-role-field">
                                <textarea class="input_field win-textbox input_text_comment"
                                          onfocusout="AppBar.handleEvent('blur', 'clickASave', event)"
                                          data-win-bind="value: ZeilenText Binding.Mode.twoway; style.display: dataProduct.Flag_NoEdit Binding.Converter.toDisplayNone"></textarea>
                           </label>
                      </div>
                    </div>
                    <div class="headerFooterPlaceholder">
                        <div class="list-footer">
                            <div class="status">
                                <progress class="win-progress-bar progress"></progress>
                                <div class="counter">
                                    <span data-win-res="{textContent: 'questiongroup.count'}"></span><span>: </span><span data-win-bind="textContent: count"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mailingProductLineList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                             itemTemplate: select('.mailingProductLineList-template'),
                             footer: select('.list-footer')
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>