.color-picker-parent {
    min-height: 40px;
}


/*.toggle-switch-parent {
    height: 40px;
}*/
#isDarkTheme .win-toggleswitch-header,
#individualColors .win-toggleswitch-header,
#shopAppBkg .win-toggleswitch-header,
#inputBorderBottom .win-toggleswitch-header {
    display: none;
}

@media (max-width:899px) {
    .color-picker-parent {
        margin-bottom: 8px;
    }
    .toggle-switch-parent {
        margin-bottom: 8px;
    }
}

@media (max-width:499px) {
    .color-picker-parent {
        margin-bottom: 0;
    }
    .toggle-switch-parent {
        margin-bottom: 0;
    }
}

