.eventMediaAdministration .eventTextUsagefragmenthost {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
}
.eventMediaAdministration .media-container {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 48px;
}
.eventMediaAdministration .textfragmenthost {
    display: inline-block;
    position: absolute;
}
.eventMediaAdministration .docfragmenthost {
    display: inline-block;
    position: absolute;
}
.eventMediaAdministration .doc-url {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}
.eventMediaAdministration .listfragmenthost {
    position: absolute;
    width: 100%;
    height: 190px;
    bottom: 0;
    z-index: 5;
}

