/*
#contactResultsList .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}
*/
.localevents .win-itemcontainer .win-itembox,
.localevents .win-listview .win-itembox {
    background-color: transparent;
}

.localevents .contentarea {
    overflow-y: hidden !important;
}

.localevents .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}

.localevents .master-list-header {
    height: auto !important;
}

    .localevents .master-list-header.list-compact-only {
        padding-top: 48px;
    }

#localevents .win-viewport {
    overflow-x: auto;
}

.view-size-medium-small #localevents .win-viewport {
    overflow-x: hidden;
}

.pagecontrol:not(.view-size-bigger) #localevents .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#localevents .list-header {
    font-weight: bold;
    display: flex;
    height: auto;
}

#localevents .list-header-columns {
    height: auto;
}

#localevents .list-header-columns .order-asc > span::after {
    content: " \25b2";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}

#localevents .list-header-columns .order-desc > span::after {
    content: " \25bc";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}
/*
#localevents .win-headercontainer,
#localevents .win-surface,
#localevents .win-footercontainer {
    "min-width: 1766px;
}
*/
.view-size-medium-small #localevents .win-headercontainer,
.view-size-medium-small #localevents .win-surface,
.view-size-medium-small #localevents .win-footercontainer {
    min-width: inherit;
}

/* Styles used for the custom layout */
.listView .localeventsLayout {
    position: static;
}

.listView .localeventsLayout .win-surface {
    margin-left: 0;
}


#localevents .win-container {
    margin: 0;
}
/*
#localevents .win-item,
.localevents .list-header-columns {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#localevents .win-item,
#localevents .list-header,
#localevents .list-footer {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
    width: calc(100% - 52px);
}


#localevents .row-bkg {
    display: inline-block;
}


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/


.view-size-bigger #localevents .row-bkg {
    display: none;
}
.view-size-bigger #localevents .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

.view-size-bigger #localevents .win-item,
.view-size-bigger #localevents .list-header,
.view-size-bigger #localevents .list-footer {
}

.view-size-bigger .action-image-right {
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
}
*/


.view-size-medium #localevents .win-item,
.view-size-medium #localevents .list-header,
.view-size-medium #localevents .list-footer {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
}

.view-size-medium-small #localevents .win-item,
.view-size-medium-small .localevents .list-header,
.view-size-medium-small #localevents .list-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #localevents .win-item,
.view-size-small .localevents .list-header,
.view-size-small #localevents .list-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% - 20px);
}

#konanz {
    font-size: small;
}

.view-size-smallest #localevents .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-smallest .localevents .list-div-left {
    width: 100%;
    margin: 0;
}

.view-size-bigger #localevents .list-portrait-only,
.view-size-medium-small #localevents .list-landscape-only {
    display: none;
}

.view-size-medium-small #localevents .list-portrait-only {
    display: block;
}

#localevents .list-landscape-only > div:not(.row-bkg-gray):not(:last-child) {
    border-right-style: solid;
    border-right-color: gray;
    border-right-width: 1px;
}

#localevents .wrap-text {
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: normal;
}

#localevents .list-field-small-fixed,
#localevents .list-field-big-fixed {
    line-height: 1;
    padding: 8px;
}

    #localevents .list-field-small-fixed > span,
    #localevents .list-field-big-fixed > span {
        display: inline-block;
        height: auto;
        width: auto;
    }

    #localevents .list-field-big-fixed > span {
        min-width: 300px;
    }

.localevents .list-compact-only .list-div-left > span {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

.fieldlinecounter {
    text-align: right;
}
