.eventslist .list-div-left,
.eventslist .list-div-right {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.eventslist .grayed-out {
    opacity: 0.6;
}

.eventslist .semibold {
    font-weight: 600;
}
/* Styles used for the custom layout */
.listView .eventslistLayout {
    position: static;
}

    .listView .eventslistLayout .win-surface {
        margin-left: 0;
    }

#eventslist .win-container {
    margin: 0;
}
#eventslist .win-itembox {
    width: 100%;
    min-height: 60px;
}

#eventslist .win-container {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}

#eventslist .win-surface {
    margin-top: 0;
    margin-left: 0;
}

#eventslist.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 72px);
}
.view-size-smallest #eventslist .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.view-size-smallest #siteEventsList .win-container {
    width: 100% !important;
}
