#visitorFlowLevelIndicatorList .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}

#visitorFlowLevelIndicatorList .win-itemcontainer .win-itembox,
#visitorFlowLevelIndicatorList .win-listview .win-itembox {
    background-color: transparent;
}

#visitorFlowLevelIndicatorList .listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 56px);
}

/* Styles used for the custom layout */
.visitorFlowDevicesList .visitorFlowDevicesLayout {
    position: static;
}

.listView .visitorFlowDevicesLayout .win-surface {
    margin-left: 0;
}

#visitorFlowLevelIndicatorList .win-container {
    margin: 0;
}
/*
#contactList .win-item {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#visitorFlowLevelIndicatorList .win-item {
    padding-top: 2px;
    padding-bottom: 2px;
}

#visitorFlowLevelIndicatorList .row-bkg {
    display: inline-block;
}


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #contactList .row-bkg {
    display: none;
}
.view-size-bigger #contactList .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #visitorFlowLevelIndicatorList .win-item {
    width: calc(100% - 100px);
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-size-bigger .action-image-right {
    /*width: 100%;*/
    float: right;
}
.view-size-bigger #visitorFlowLevelIndicatorList .win-itemscontainer {
    overflow: auto !important;
    height: 675px !important;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #visitorFlowLevelIndicatorList .win-item {
    width: calc(100% - 50px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-medium #visitorFlowLevelIndicatorList .win-itemscontainer {
    overflow: auto !important;
    height: 675px !important;
}
 #timeCategory {
    float: none;
     min-width: 100%;
}
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #visitorFlowLevelIndicatorList .win-itemscontainer {
    overflow: auto !important;
    height: 675px !important;
}
#vflitime {
    width: 13%;
    margin-left: 17px;
}

#vflibalk {
    width: 30%;
    height: 16px;
    margin-bottom: 14px;
}

#hlleav {
    width: 15%;
}

#hlvisall {
    width: 10%;
}

#hltotal {
    width: 5%;
}

#hlsep {
    width: 2%;
}

#vflisep {
    width: 1%;
}

#vflivisall {
    width: 5%;
}

.gridtitleovisitorflowlevelindicator {
    max-width: 100%;
    height: 35px;
    border-bottom: 1px solid lightgray;
}

.gridtitlevisitorflowlevelindicatortext {
    display: flex;
    padding-left: 15px;
    padding-top: 3px;
    font-weight: bolder;
    font-size: 18px;
}
#visitorFlowLevelIndicatorList .list-header-columns {
    background-color: transparent;
    border-bottom: 1px solid grey;
    height: 53px;
    font-weight: bold;
    padding-left: 8px;
}
#vflitimeh {
    width: 11%;
    margin-left: 15px;
}
#viscou {
    width: 25%;
}
#visitorFlowLevelIndicatorList .win-itemscontainer {
    overflow: auto !important;
    height: 6350px !important;
}

#visitorFlowLevelIndicatorList .win-viewport.win-vertical { overflow: hidden !important; }

.win-progress-bar {
    height: 12px;
    margin-bottom: 17px;
    margin-bottom: 17px;
}