<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="visitorFlowLevelIndicator.css" rel="stylesheet" />
    <script type="text/javascript" src="visitorFlowLevelIndicatorService.js"></script>
    <script type="text/javascript" src="visitorFlowLevelIndicatorController.js"></script>
    <script type="text/javascript" src="visitorFlowLevelIndicator.js"></script>
</head>
<body class="win-type-body">
    <div class="visitorFlowLevelIndicator fragment">
        <div id="visitorFlowLevelIndicatorController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="gridtitleovisitorflowlevelindicator">
                        <span class="gridtitlevisitorflowlevelindicatortext" data-win-res="{textContent: 'visitorFlowLevelIndicator.title'}"></span>
                    </div>
                    <div class="headerFooterPlaceholder">
                        <div class="list-header">
                            <div class="field_line">
                                <span class="label win-type-caption" data-win-res="{textContent: 'visitorFlowLevelIndicator.timeselect'}"></span>
                                <select id="timeCategory"
                                        class="input_field win-dropdown"
                                        data-win-control="WinJS.UI.Repeater"
                                        data-win-bind="value: timeselectupdate; style.display: dataContact.Flag_NoEdit Binding.Converter.toDisplayNone"
                                        onchange="AppBar.handleEvent('onchange', 'changeTime', event)">
                                    <option data-win-bind="value: value; textContent: title"></option>
                                </select>
                            </div>
                            <div class="line-separator"></div>
                            <div class="list-header-columns">
                                <div class="list-header-column vflitime">
                                    <span data-win-res="{textContent: 'visitorFlowLevelIndicator.time', title: 'visitorFlowLevelIndicator.time'}"></span>
                                </div>
                                <div class="list-header-column viscou win-type-ellipsis">
                                    <span data-win-res="{textContent: 'visitorFlowLevelIndicator.visitors', title: 'visitorFlowLevelIndicator.visitors'}"></span>
                                </div>
                                <div class="list-header-column hlent">
                                    <span data-win-res="{textContent: 'visitorFlowLevelIndicator.entryleaving', title: 'visitorFlowLevelIndicator.entryleaving'}"></span>
                                </div>
                                <div class="list-header-column hlent">
                                    <span class="win-type-ellipsis" data-win-res="{textContent: 'visitorFlowLevelIndicator.peak', title: 'visitorFlowLevelIndicator.peak'}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="list-footer">
                            <div class="status">
                                <div class="progress"
                                     data-win-bind="style.display: loading Binding.Converter.toDisplay">
                                    <progress class="win-ring win-medium wait-circle"></progress>
                                </div>
                                <div class="counter"
                                     data-win-bind="style.display: loading Binding.Converter.toDisplayNone">
                                    <span data-win-res="{textContent: 'contactList.count'}"></span><span>: </span>
                                    <span data-win-bind="textContent: count"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visitorFlowLevelIndicatorList-template"
                         data-win-control="WinJS.Binding.Template" style="display: none">
                        <div class="list-row">
                            <div class="list-column vflitime">
                                <span data-win-bind="textContent: Zeitraum"></span>
                            </div>
                            <div class="list-column viscou">
                                <progress class="win-progress-bar"
                                          data-win-bind="textContent: Zeitraum; value: EintritteGesamt; max: Limit"></progress>
                                <span data-win-bind="textContent: Inside"></span>
                            </div>
                            <div class="list-column hlent">
                                <span data-win-bind="textContent: EintritteAustritteBereich"></span>
                            </div>
                            <div class="list-column hlent">
                                <span data-win-bind="textContent: MaxInside"></span>
                            </div>
                        </div>
                    </div>
                    <div id="visitorFlowLevelIndicatorList"
                         class="listview"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                             itemTemplate: select('.visitorFlowLevelIndicatorList-template'),
                             header: select('.list-header'),
                             footer: select('.list-footer'),
                             selectionMode: 'none',
                             tapBehavior: 'none'
                         }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>