/*
#genDataModHisto .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}
*/
#genDataAnswers .win-itemcontainer .win-itembox,
#genDataAnswers .win-listview .win-itembox {
    background-color: transparent;
}
#genDataAnswers {
    height: 100% !important;
}
    #genDataAnswers .listview {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100% !important;
    }

/* Styles used for the custom layout */
.listView .genDataAnswersLayout {
    position: static;
}

    .listView .genDataAnswersLayout .win-surface {
        margin-left: 0;
    }

#genDataAnswers .win-container {
    margin: 0;
}
/*
#genDataModHisto .win-item,
.genDataModHisto .list-header-columns {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#genDataAnswers .win-item,
.genDataAnswers .list-header-columns {
    width: calc(100% - 56px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#genDataAnswers .row-bkg {
    display: inline-block;
}


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #genDataModHisto .row-bkg {
    display: none;
}
.view-size-bigger #genDataModHisto .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #genDataAnswers .win-item,
.view-size-bigger .genDataAnswers .list-header-columns {
    width: calc(100% - 52px);
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-size-bigger .action-image-right {
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #genDataAnswers .win-item,
.view-size-medium .genDataAnswers .list-header-columns {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/


.view-size-small #genDataAnswers .win-item,
.view-size-small .genDataAnswers .list-header-columns {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.answer-count-label {
    width: 100%;
}

.answer-count-range {
    padding: 0;
    margin-top: 6px;
    width: calc(100% - 48px);
    float: left;
}

.answer-count {
    width: 40px;
    float: right;
    text-align: right;
}
#genDataAnswers #answertext {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}
