.answer-count-label {
    width: 100%;
}

.answer-count-range {
    padding: 0;
    margin-top: 6px;
    width: calc(100% - 48px);
    float: left;
}

.answer-count {
    width: 40px;
    float: right;
    text-align: right;
}
#genDataAnswers #answertext {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}
