<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="startNoData.css" rel="stylesheet" />
    <script type="text/javascript" src="startNoDataService.js"></script>
    <script type="text/javascript" src="startNoDataController.js"></script>
    <script type="text/javascript" src="startNoData.js"></script>
</head>
<body class="win-type-body">
<div class="startNoData fragment">
    <div id="startNoDataController" class="data-container">
        <section aria-label="Main content" role="main" class="animationElement">
            <div class="contentarea win-type-body">
                <div class="nodatatextmain">
                    <div data-win-res="{textContent: 'startnodata.text1'}"></div>
                    <div data-win-res="{textContent: 'startnodata.text2'}"></div>
                    <div data-win-res="{textContent: 'startnodata.text3'}"></div>
                    <div data-win-res="{textContent: 'startnodata.text4'}"></div>
                    <a href="https://secure.convey.de/publish/LeadSuccess/DocMailing/User_Guide_LeadSuccess_Portal_EN.pdf" data-win-res="{textContent: 'startnodata.text5'}"></a>
                    <a href="https://secure.convey.de/publish/LeadSuccess/DocMailing/User_Guide_LeadSuccess_APP_EN.pdf" data-win-res="{textContent: 'startnodata.text6'}"></a>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>