#startList .win-itemcontainer .win-itembox,
#startList .win-listview .win-itembox {
    background-color: transparent;
}

.startList .contentarea {
    overflow-y: hidden !important;
}

.startList .content-header {
    height: auto !important;
    min-height: 48px;
}

.startList .master-list-header {
    min-height: 40px;
    padding-left: 0;
}

.startList .master-list-header {
    height: auto !important;
}

.startList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#startList .list-header {
    font-weight: bold;
}

.startList .grayed-out {
    opacity: 0.6;
}

.startList .semibold {
    font-weight: 600;
}

/* Styles used for the custom layout */
.listView .startListLayout {
    position: static;
}

.listView .startListLayout .win-surface {
    margin-left: 0;
}

#startList .win-container {
    margin: 0;
}

#startList .win-item,
#startList .list-header {
    padding-left: 26px;
    padding-right: 26px;
    min-height: 40px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-medium #startList .win-item,
.view-size-medium #startList .list-header {
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-small #startList .win-item,
.view-size-small #startList .list-header {
    padding-left: 10px;
    padding-right: 10px;
}

.view-size-smallest #startList .win-item,
.view-size-smallest #startList .list-header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.startList .content-header .master-list-header {
    margin-top: 16px;
}

.view-size-smallest .startList .content-header .field_line {
    display: none !important;
}

.startList .list-compressed-title.win-type-body {
    line-height: 1;
}

view-size-smallest #startList .win-container {
    width: 100% !important;
    padding-left: 0;
}

.view-size-smallest .startList .list-div-left,
.view-size-smallest .startList .list-div-right {
    width: 100%;
    margin: 0;
}

#startList #nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

