
#sketchList .win-container {
    width: 160px;
    height: 160px;
}

#sketchList .win-surface {
    overflow-y: hidden;
}

#sketchListController .contentarea .win-type-body {
    height: 170px;
    overflow-y: hidden;
}
.sketchList .contentarea .win-type-body .win-listview {
    height: 170px;
}

.sketchList .list-img {
    width: 150px;
    height: 150px;
    display: block;
}

.sketchList .list-svg {
    width: 150px;
    height: 150px;
    display: block;
    background-color: #fff;
}

.sketchList .list-icon {
    width: 150px;
    height: 115px;
    display: block;
}

.sketchList .list-img-item {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
}

.sketchList .list-svg-item {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.sketchList .list-icon-item {
    margin-left: calc(50% - 40px);
    margin-top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    display: block !important;
}

.sketchList .list-caption-container {
    height: 40px;
    bottom: 0;
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
}
.sketchList .list-caption {
    color: #101010;
}


