/**
    reporting page styles
*/
.reporting-bar-chart {
    height: 100%;
    width: 100%;
}

#reportingListhost.fragmenthost {
    height: 100px;
}

.view-size-big #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-bigger #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-medium #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-medium-small #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-small .reportingListhost-line {
    display: none;
}
#exportlist {
    font-size: medium;
}
/*.audioexport-button {
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 60px;
    width: 220px;
    min-height: 60px;
    min-width: 150px;
    color: white;
    margin-top: 10px;
}*/

.audioexport-button:hover {
    border-color: black;
}

.audioexport-button:active {
    border-color: black;
}

.button-container {
    text-align: center;
    height: 120px;
}

/*.view-size-medium .button-container {
    height: 350px;
}

.view-size-medium-small .button-container {
    height: 350px;
}*/