/**
    reporting page styles
*/
.reporting-bar-chart {
    height: 100%;
    width: 100%;
}

#reportingListhost.fragmenthost {
    height: 200px;
}

.view-size-big #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-bigger #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-medium #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-medium-small #reportingListhost.fragmenthost {
    height: 350px;
}

.view-size-small .reportingListhost-line {
    display: none;
}
#exportlist {
    font-size: medium;
}
/*.audioexport-button {
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 60px;
    width: 220px;
    min-height: 60px;
    min-width: 150px;
    color: white;
    margin-top: 10px;
}*/

.audioexport-button:hover {
    border-color: black;
}

.audioexport-button:active {
    border-color: black;
}

/*.view-size-medium .button-container {
    height: 350px;
}

.view-size-medium-small .button-container {
    height: 350px;
}*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    margin-left: 73%;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.dashboardloadingtext {
    display: none;
}

#dashboardexporttext {
    margin-left: 70%;
}
.pdfZipDownload {
    margin-left: 10%;
    margin-right: 10%;
}