
#contactList .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}

.contactList .win-itemcontainer .win-itembox,
.contactList .win-listview .win-itembox {
    background-color: transparent;
}

.contactList .contentarea {
    overflow-y: hidden !important;
}

.contactList .content-header {
    height: auto !important;
    min-height: 48px;
    display: inline-block;
}

.contactList .master-list-header {
    height: auto !important;
}

.contactList .master-list-header.list-compact-only {
    padding-top: 48px;
}

#contactList .win-viewport {
    overflow-x: auto;
}

.view-size-medium-small #contactList .win-viewport {
    overflow-x: hidden;
}

.pagecontrol:not(.view-size-bigger) #contactList .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

#contactList .list-header {
    font-weight: bold;
    display: flex;
    height: auto;
}

#contactList .list-header-columns {
    height: auto;
}

#contactList .list-header-columns > .order-asc::after {
    content: " \25b2";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}

#contactList .list-header-columns > .order-desc::after {
    content: " \25bc";
    font-size: 10px;
    vertical-align: super;
    opacity: 0.6;
}

#contactList .win-headercontainer,
#contactList .win-surface,
#contactList .win-footercontainer {
    min-width: 1766px;
}

.view-size-medium-small #contactList .win-headercontainer,
.view-size-medium-small #contactList .win-surface,
.view-size-medium-small #contactList .win-footercontainer {
    min-width: inherit;
}

/* Styles used for the custom layout */
.listView .contactListListLayout {
    position: static;
}

.listView .contactListListLayout .win-surface {
    margin-left: 0;
}


#contactList .win-container {
    margin: 0;
}
/*
#contactResultsList .win-item,
.contactResultsList .list-header-columns {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#contactList .win-item,
#contactList .list-header,
#contactList .list-footer {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
}


 #contactList .row-bkg{
     display:inline-block;
 }

.contactList .list-button-left {
    min-width: 100px;
    padding: 4px;
    height: 18px;
    margin-bottom: 2px;
    margin-top: 4px !important;
}
/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #contactList .row-bkg {
    display: none;
}
.view-size-bigger #contactList .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #contactList .win-item,
.view-size-bigger #contactList .list-header,
.view-size-bigger #contactList .list-footer {
}

.view-size-bigger .action-image-right{
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #contactList .win-item,
.view-size-medium #contactList .list-header,
.view-size-medium #contactList .list-footer {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
}

.view-size-medium-small #contactList .win-item,
.view-size-medium-small .contactList .list-header,
.view-size-medium-small #contactList .list-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #contactList .win-item,
.view-size-small .contactList .list-header,
.view-size-small #contactList .list-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#konanz {
    font-size: small;
}

.view-size-bigger #contactList .list-portrait-only,
.view-size-medium-small #contactList .list-landscape-only {
    display: none;
}

.view-size-medium-small #contactList .list-portrait-only {
    display: block;
}

#contactList .list-landscape-only > div:not(.row-bkg-gray):not(:last-child) {
    border-right-style: solid;
    border-right-color: gray;
    border-right-width: 1px;
}
#contactList .wrap-text {
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: normal;
}

#contactList .list-field-small-fixed {
    line-height: 1;
    padding: 8px;
}

    #contactList .list-field-small-fixed > span {
        display: inline-block;
        height: auto;
        width: auto;
}

