/*
#contactList .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}
*/
#contactList .win-itemcontainer .win-itembox,
#contactList .win-listview .win-itembox {
    background-color: transparent;
}

#contactList .listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 56px);
}

/* Styles used for the custom layout */
.listView .contactListLayout {
    position: static;
}
.listView .contactListLayout .win-surface {
    margin-left: 0;
}
#contactList .win-container {
    margin: 0;
}
/*
#contactList .win-item,
.contactList .list-header-columns {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#contactList .win-item,
.contactList .list-header-columns {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}
 #contactList .row-bkg{
     display:inline-block;
 }


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #contactList .row-bkg {
    display: none;
}
.view-size-bigger #contactList .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #contactList .win-item,
.view-size-bigger .contactList .list-header-columns {
    width: calc(100% - 52px);
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-bigger .action-image-right{
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/


.view-size-medium #contactList .win-item,
.view-size-medium .contactList .list-header-columns {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/


.view-size-small #contactList .win-item,
.view-size-small .contactList .list-header-columns {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#konanz {
    font-size: small;
}
.view-size-smallest #contactList .win-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
.contactList .list-div-left {
    width: 100%
}
#nameInitialcircle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(254,54,0,1);
    color: black;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
