
.fields-container {
    width: 100%;
}
#memoSpec{
    width: 140px;
}
.toggle-switch-parent {
    height: 50px;
}
#InitAnrede {
    margin-top: 10px;
}
.Testmail {
    margin-top: 100px;
    position: relative;
    width: 50%;
    height: 150px;
}