
.fields-container {
    width: 100%;
}
#memoSpec{
    width: 140px;
}
.toggle-switch-parent {
    height: 50px;
}
#InitMailingAnrede {
    margin-top: 10px;
}
.Testmail {
    margin-top: 100px;
    position: relative;
    width: 50%;
    height: 150px;
}

#sendMailPrivacypolicySignature .win-toggleswitch-header {
    display: none;
}
.mailing #langMsgHelpText {
    font-size: 11px;
}
