#svgSketchController .doc-container {
    float: left;
}

#sketch .feature {
    margin: 0; 
    padding: 0; 
    border: none;
    height: 100%;
}

.selected{
    background-color: white;
}

div#svgsketch {
    border: 1px solid #E4E4E4;
    -ms-touch-action: none; /* Disable touch behaviors, like pan and zoom */
    background-image: url(Hatch16.gif);
    width: 100%;
    height: 100%;
    /*
    height: calc(100% - 90px);
    margin-bottom: 10px;
    margin-top: 10px; 
    */
    overflow: hidden;
    margin-left: 0;
}

.tool-box {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100px;
    padding: 4px;
    opacity: 0.9;
    width: 300px;
    z-index: 10000;
}

.view-size-small .tool-box {
    width: calc(100% - 20px);
    padding-left: 20px;
}

.tool-box-width {
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    border-bottom-color: #000000; 
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 32px;
}

.tool-image {
    padding: 0;
    margin: 0;
}
.tool-label {
    display: none;
}
.tool-ok {
    margin: 10px;
    float: left;
}

#swidth{
    width: calc(100% - 32px);
}

