/**
    mandatory page styles
*/

#mandatorylisthost.fragmenthost {
    height: 120px;
}

.view-size-medium #mandatorylisthost.fragmenthost {
    height: 180px;
}

.view-size-small #mandatorylisthost.fragmenthost {
    height: 360px;
}


.list-manquest-item {
    width: 100%;
    min-width: 160px;
    height: 48px;
    overflow: hidden;
    display: flex;
}

.toggle-switch-parent {
    height: 50px;
}

#mandatoryquestion .line-separator .row-end {
    height: 48px;
}